.basket {
	//empty basket 
	.empty {
		width:635px;
		margin:0 auto 40px;
		.ttl {
			.font('ProximaNova-Bold-webfont', 24px);
			margin:0 0 10px;
		}
		.ico {
			.l;
			.wh(162px,135px);
			margin:0 48px 0 0;
		}
		.dsc {
			.l;
			width:424px;
		}
	
	}

	.basket-sum {
		text-align:right;
		font-size:24px;
	}
	
	.btn-order {
		.r;
		width:356px;
		font-size:14px;
	}
	
}
//basket table
.tbl-basket-w{
	margin:0 0 30px 0;
}
.tbl-basket {
	margin:0 0 20px 0;
	.td-pic {width:80px;}
	.td-name {width:435px;}
	.td-price {
		width:100px;
		white-space: nowrap;
	}
	.td-x{
		padding-left:0;
		width:15px;
		.x {
			.wh(15px,15px);
			cursor:pointer;
		}
	
	}
	.amt {
		width:80px;
		.rel;
	}
	.bsk-amt{
		.wh(22px,27px);
		padding-right:46px;
		font-family:Verdana;
		font-size:11px;
		
	}
	.amt-bt { 
		.abs;
		font-family:Verdana;
		.userselect;

		color:@btn-g;
		cursor:pointer;
		
		&:hover{
			color:@hover;
		}
	}
	.amt-hi {
		right:25px;
		top:6px;
		font-size:18px;
	}
	.amt-lo {
		right:5px;
		top:5px;
		font-size:20px;
	}

}

//basket order icons
.bsk-helpers {
	.l;
	margin:0 0 0 76px;
	.lnk {
		.bl;
		.l;
		height:40px;
		padding:0 0 0 54px;
		.font('CirceWebRegular', 14px);
		line-height:18px;
		.decno; 
		span {
			border-bottom:1px dashed @bl-text;
			line-height:10px;
		}
		&:hover {
			color:@hover;
			span {
				border-bottom:1px dashed @hover;
				
			}
		}
	
	}
	.bsk-callback {
		margin-right:210px;
	}
}
//order section

.order-w {
	padding:43px 47px;
}
.order-item {
	.rel;
	border-bottom:2px solid @inner;
	margin-bottom:47px;
	padding-bottom:57px;
	.ttl-o {
		.font('ProximaNova-Bold-webfont', 24px);
		margin:0 0 40px;
		padding-top:15px;
	}
}

.order-switch{
	.abs;
	top:0;
	left:423px;
	.brad;
	border:1px solid #e6e6e6;
	padding:4px;
	background-color:@bl-bg;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	
	a{
		.bl;
		.l;
		background-color:@bg;
		.brad;
		//.font('CirceWebBold', 18px);
		.font('ProximaNova-Bold-webfont', 18px);
		line-height:18px;
		height:18px;
		padding:14px 28px;
		margin:0 6px 0 0;
		.lch;
		span {border-bottom:1px dashed @bl-text;}
		&:hover,&.active{
			color:@hover;
			span{border-bottom:none;}
		}
		&.active {
			background-color:transparent;
			cursor:default;
		}
	}
}

.tbl-order{
	font-size:16px;
	td {
		vertical-align:top;
		padding-bottom:24px;
	}
	
	p {
		margin: 0 0 5px;
	}
	.ttl {
		.font('CirceWebBold', 16px);
	}
	.td1 {
		width:140px;
		padding-top:5px;
	}
	.inp-t {
		.font('CirceWebRegular', 16px);
	}
	.hint {
		.font('CirceWebRegular', 14px);
	}
}

.order-txt{
	height:88px;
	width:880px;
	.font('CirceWebRegular', 16px);
}


.order-confirm {
	width:440px;
	margin:0 0 0 140px;
	.checkset {
		margin-bottom:30px;
	}
	.btn {font-size:14px}
}

.order-sum {font-size:24px;}

.tbl-contact-info{
	.inp {width:250px;}
}