/*** content 
	1. Base grey block (Hot Deals and Other Deals)
	and elements:
		1.1. Multicolor stamps
		1.2. Big green stamp
		1.3. Timer
		1.4. Stars
		
	2. Blue help block
	
	3. Infopage right column block
	
	4. Catalogue-like block when not in catalogue
		4.1. without list
		4.2. with list
	
	5. Article long block (news, articles)
	
	6. Article square block (All Article)

*/


/*** Base grey block */
.b-base	{

	//style as generic grey block (see gen.less)
	.it;

	//pos relative
	.rel;
	
	//width x height (see gen.less)
	.wh(356px, 520px);
	
	//content wrap to assign padding to
	.w {padding:30px 30px 0;}
	
	//clickable area
	.lnk {
		display:block;
		margin-bottom: 25px;
	}
	
	//item type, ex Heater
	.ttl {
		.font('CirceWebBold', 18px);
		line-height:25px;
		height:50px;
		margin-bottom: 13px;
		color:@text;
		&:hover {
			color:@hover;
			.und;
		}
	}
	
	//pic holder
	.pic {
		margin:0 auto 18px;
		height:170px;
		.rel; //in case of icons
	}
	
	//item title, ex Electrolux BCAL
	.dsc {
		color:@bl-text;
		line-height:26px;
		height:45px;
		font-size:14px;
		&:hover{ 
			.und; 
		}
	}
	//price holder
	.prc {
		.l;
		.curr{
			letter-spacing:0.2px;
			.font('ProximaNova-Xbold-webfont', 23px);
			line-height:24px;
			width:170px;
			overflow:hidden;
			&.curr-only {
				line-height:40px;
			}
		}
		.past {
			.l;
			padding-top:8px;
		}
		.old, .profit {
			.font('ProximaNova-Bold-webfont', 14px);
			display:line-block;
		}
		.old{
			color:@bl-text;
			margin:0 10px 0 0;
			.cross;
		}
		.profit{
			color:@accent3; 
		}

	}	
	
	//v koriznu
	.btn-to-bsk {
		.r;
		width:124px;
	}
	
}

/*** base grey block end */


/*** Multicolor stamps */

//colorful stamps for Other Deals 
.stamps {
	.font('CirceWebBold', 14px);
	height:91px;
	
	//stamp, float left by default
	.ico {
		.l;
		padding:6px 0 8px 43px;
		margin:0 0 5px 0;
		}
	
	//to float one right
	.ico-r {.r;}
	
	//corresponding font-colors
	.ico-1 {color:@accent1;}
	.ico-2 {color:@accent2;}
	.ico-3 {color:@accent3;}
	.ico-5 {color:@accent5;}
}

//Hot Deals big green ico
.ico-hot {
	.abs;
	.wh(80px, 55px);
	color:@dark-text;
	text-align:center;
	padding:25px 0 0;
	.font('ProximaNova-Xbold-webfont', 13px);
	line-height:14px;
	
}

/*** Multicolor stamps */


/*** Timer */

.timer {
	border: 2px solid @accent4;
	.brad;
	padding:13px 15px 12px;
	margin-bottom:16px;
	//summary in green
	.sum {
		font-size:14px;
		color:@accent3;
	}
	.time {
		letter-spacing:1px;
		//numbers
		b {
			.font('ProximaNova-Bold-webfont', 18px);
			color:#000;
			font-weight:normal;
		}
		//seconds
		b.sec {
			color:@hover;
			width:22px;
			display:inline-block;
		}
		//unit names
		span{
			.font('ProximaNova-Bold-webfont', 10px);
			color:@bl-text;
			margin:0 17px 0 0;
			.lch;
		}
	}
}

/*** Timer */


/*** Stars */
.rating {
	margin-bottom:25px;
	height:25px;
	.font('CirceWebBold', 14px);
	.stars, .rev {.l;}
	.stars {
		margin:0 15px 0 0;
	}
	.rev{color:@highlight}

}
/*** Stars */



/*** Blue help block */

.b-hlp {
	.bl;
	.rel;
	background-color:@highlight;
	border-bottom: 2px solid #2082c3;
	.brad;
	color:@dark-text;
	.wh(356px, 113px);
	.w {padding:18px 25px 18px;}
	.ttl {
		margin: 0 0 10px 0;
		.font('ProximaNova-Bold-webfont', 24px);
	}
	.dsc {
		.font('CirceWebBold', 16px);
		line-height:18px;
		margin:0;
	}
	.ico {
		.bl;
		.abs;
		.wh(55px, 55px);
		top:30px;
		right:30px;
	}
	&:hover{
		background-color:#3da3e7;
		color:@dark-text;
	}
}
/*** Blue help block end */


/*** Infopage right column block */

.b-flex	{

	//style as generic grey block (see gen.less)
	.it;
	
	.wh(356px, auto);
	
	//item type, ex Heater
	.ttl {
		.font('CirceWebBold', 18px);
		line-height:25px;
		color:@text;
		&:hover {
			color:@hover;
			.und;
		}
	}
	.ttl-sm {
		.font('CirceWebBold', 16px);
		line-height:24px;
		margin:0 auto 10px;
		&:hover {
			color:@hover;
			.und;
		}
	}
	
	//pic holder
	.pic {
		//rounded top corners only
		.ib;
		.wh(@unfixed, 200px);
		margin:0 auto 23px;

		
	}
	.w {
		padding:0 32px 26px;
	}
	//item title, ex Electrolux BCAL
	.dsc {
		color:@bl-text;
		line-height:26px;
		height:45px;
		&:hover{ 
			.und; 
		}
	}
	//if news
	.date {
		line-height:18px;
		margin:0;
		color:@block-fnt;
		.font('ProximaNova-Bold-webfont', 14px);
	}
	
}

/*** Infopage right column block end*/

/*** Catalogue-like block when not in catalogue */

// w/out list, 404 page for ex, for Brands all
.c-block {
	.bl;
	.it;
	.wh(262px, 300px);
	.pic {
		.wh(258px, 163px);
		border:2px solid @bl-bg;
		margin:0 0 18px 0;
		.ib;
		background-color: @bg;
		background-size: initial;
	}
	.ttl {
		.font('CirceWebBold', 18px);
		line-height:25px;
		margin:0;
		padding:0 27px;
		color:@text;
		&:hover{
			color:@hover;
			.und;
		}
	}
	.dsc{
		font-size:14px;
		line-height:16px;
		padding:0 17px;
		color:@text;
	}
}

// w/list, like brand cat

.c-block-l {
	.it;
	width:356px;
	min-height:390px;
	display:inline-block;
	vertical-align:top;

	.ttl {
		.font('ProximaNova-Black-webfont', 14px);
		.caps;
		margin:27px 27px 20px;
	}
	.list {
		padding:0;
		margin:0 26px;
		list-style:none;
		li {
			.font('CirceWebBold', 18px);
			margin:0 0 18px 0;
			line-height:20px;
			}
		a {
		color:@highlight;
			&:hover{
				color:@hover;
				.und;
			}
		}
		span{
			.font('CirceWebRegular', 14px);
			display:block;
			padding:5px 0 0 0;
			
		}
	}
}

/*** Catalogue-like block when not in catalogue end*/

/*** Article block */

.b-art	{

	font-size:16px;
	background-color:@bl-bg;
	border-bottom: 2px solid @bl-brd;
	.brad;
	margin-bottom:20px;
	.lch;
	.w {
		padding:30px 30px 15px;
	}
	//if news
	.date {
		line-height:18px;
		margin:0 0 10px 0;
		color:@block-fnt;
		.font('ProximaNova-Bold-webfont', 14px);
	}
	.pic{
		.bl;
		.wh(140px,140px);
		.l;
		margin-right:28px;
		.brad;
	}
	.dsc {
		.l;
		width:880px;
	}
	.inf {
		margin:0 0 10px;
		p {
			margin: 0 0 8px 0;
			.lch;
		}
	}
	.lnk {
		text-align:right;
		color:@highlight;
		&:hover {
			color:@hover;
			.und;
		}
	}
	.ttl {
		.font('CirceWebBold', 18px);
		margin:0 0 8px;
		line-height:18px;
		vertical-align:top;
		color:@text;
		&:hover {
			color:@hover;
			.und;
		}
	}
	
}

/*** Article block end*/


/*** Square Article block */

.b-art-sq{		
	.it;
	.l;
	.rel;
	margin:0 19px 19px 0;
	.wh(262px, 403px);
	.w {padding:15px 29px 0;}
	.ttl {
		.font('CirceWebRegular', 20px);
		letter-spacing:0.5px;
		font-weight:normal;
		line-height:18px;
		height:40px;
		margin:0;
		color:@highlight;
		&:hover{
			color:@hover;.und;
		}
	}
	
	.dsc {
		.font('CirceWebRegular', 16px);
		margin:0;
		line-height:19px;
		
	}
	
	&:nth-child(4n) {
		.mr;
	}

	.pic {
		margin:0 auto;
		height:130px;
		.ib;
	}
	.all{
		.font('ProximaNova-Reg-webfont', 10px);
		.caps;
		font-weight:normal;
		letter-spacing:0.5px;
		.ib;
		background:@dark-bg;
		opacity:0.8;
		padding:7px 0 7px 27px;
		letter-spacing:0.5px;
		color:@dark-text;
		span {
			padding:2px 20px 2px 0;
			line-height: 16px;
		}
	}
	.ul {
		margin: 0;
		padding:0;
		list-style:none;
		li{
			.font('CirceWebRegular', 16px);
			line-height:20px;
			margin: 0 0 10px 0;
			a {display:block;padding-left:15px;}
			a:hover {color:@dark-hover;.und;}
		}
	}
}

/*** Square Article block end*/