.card {
	.aut(0, 60px);
	.brand-logo {
		.wh(140px, 60px);
		.bl;
		.r;
	}
	.row-1 {
		height:85px;
		.ttl {
			.font('CirceWebBold', 26px);
			line-height:35px;
			margin:0;
			.l;
			width:500px;
		}	
	}
	.row-2 {height:50px;margin:0 0 50px 0;}
	.rate {width:240px;}
	.article {width:240px;}
	.col-l{
		width:732px;
		> .w {
			padding:18px 27px 28px;
		}
	}
	.col-r{
		width:356px;
		.ctrl {
			background-color:@bl-bg;
			border-bottom: 2px solid @bl-brd;
			border-radius: @brad;
			margin-bottom:32px;
			> .w {
				padding:30px;
			}
		}
		.b-hlp{
			margin-bottom:20px;
			.lch;
		}
		
	}
	.stars, .article {
		.l;
	}
	.stars {
		margin:0 0 5px 0;
	}
	.rate .lnk {
		.font('CirceWebBold', 14px);
		color:@highlight;
		margin:0 0 0 15px;
		&:hover{.und;}
	}
	.tab-revw {
		.btn {width:145px;}
		.btn-revw-add {
			.l;
			margin:0 20px 0 0;
		}
		.revw-add{
			margin:0 0 28px 0;
			.stars {.l;}
			.count {
				.l;
				line-height:30px;
				color: @btn-g;
			}
			
		}
		.item {
			margin:0 0 30px 0;
			.ttl {.font('CirceWebBold', 16px);height:27px;}
			.stars, .name, .city {.l;}
			.stars {margin:0 19px 0 0;}
			.name {margin:0 12px 0 0;}
			.city{color: @btn-g;}
			.dsc p {
				margin:0 0 5px 0;
				line-height:20px;
			}
			
		}
	}
	.print {
		display:inline-block;
	}
	.actionset {
		.l;
		width: 250px;
	}
	.actions {
		height:25px;
		margin:0 0 20px 0;
	}
	.prices {margin:0 0 17px;}
	.price {
		.font('ProximaNova-Bold-webfont', 38px);
		line-height:44px;
	}
	.price-old {
		
		.font('CirceWebBold', 18px);
		color:@bl-text;
		.cross;
	}
	.timer{margin:0 0 25px;}
}
.buy-btns {
	margin-bottom:30px;
	.btn {
		width:@unfixed;
		margin-bottom:10px;
		.lch;
	}
	.btn-to-bsk {
		font-size:14px;
		&:hover{color:@dark-text;}
		span {padding:0 0 0 37px;}
	}
	.btn-1-click, .btn-credit {font-size:12px;}
	.btn-1-click{
		font-size:12px;
		color:@highlight;
		background-color:@chbrd;
		&:hover:not(.btn-disabled) {
			background-color:@chbrd;
		}
	}
	.btn-credit {
		font-size:12px;
		color:@btn-g;
		background-color:@bl-brd;
		&:hover:not(.btn-disabled) {
			background-color:@bl-brd;
		}
	}

	font-size:14px;
}

.actions {
	label{margin: 0 15px 0 0;}
}
.install{margin: 0 0 30px 0;}

.del-tbl {
	margin:0 0 15px 0;
	td {
		font-size:16px;
		line-height:18px;
		padding:8px 0;
	}
	span {
		.font('CirceWebBold', 16px);
	}
	a {
		color:@highlight;
		span{
			position: relative;
			display: inline-block;
			vertical-align: top;
			&:after{
				content:'';
				position:absolute;
				left:0;
				right:0;
				bottom:4px;
				border-bottom:1px dashed @highlight;
			}
		}
	}
	.del-instock {padding-right:12px;}
	.td1 {text-align:left;width:225px;}
	.td2 {text-align:right;}
}
.visa-master {
	.wh(84px,23px);
}

.chars {
	.r;
	.item {
		.wh(186px,46px);
		border:2px solid @chbrd;
		border-radius:@brad;
		.r;
		margin-left:10px;
		.lch;
		.w {
			padding: 8px 15px;
		}
		.nmb {
			.font('ProximaNova-Reg-webfont', 24px);
			line-height:28px;
			margin:0 15px 0 0;
			.bl;
			.l;
		}
		.dsc {
			.font('CirceWebBold', 12px);
			line-height:15px;
			.bl;
			.l;
		}
	}
}

.c-pic-container {
	.bl;
	.rel;
	.wh(600px,448px);
	margin:0 auto;
	.ico {
		.rel;
		.bl;
		.wh(130px,130px);
		margin-bottom:20px;
		text-align:center;
		.font('ProximaNova-Bold-webfont', 14px);
		.caps;
		color:@dark-text;
		span {
			padding-top:35px;
			.bl;
		}
	}
	.tw-l span {
		padding-top:45px;
	}
	.icos {
		width:130px;
		z-index:2;
		margin-left: -26px;
		.abs;
	}
}
.c-pic {
	.wh(600px,448px);

}
.c-gal {
	.notul;
	text-align:center;
	margin:15px auto 0;
	li {
		display:inline-block;
		.brad;
		margin-right:10px;
		&:last-child {
			.mr;
		}
		a {
			.brad;
			.wh(60px,60px);
			&:hover, &.active {
				.wh(56px,56px);
				border:2px solid @dark-hover;
			}
		}
	}
}
.c-pic-h {margin-bottom:39px;}



.tabs-ul {
	.notul;
	height:66px;
	> li {
		.l;
		margin-right:16px;
		.rel;
		.lch;

		> a {
			h2, h3 {
				.font('CirceWebBold', 12px);
				font-weight:normal;
				margin:0;
				line-height:16px;
			}
			line-height:14px;
			height:14px;
			padding: 13px 0 19px;
			background-color:@bl-bg;
			border: 2px solid @bl-bg;
			border-bottom: 2px solid @bl-brd;
			.brad;
			.font('CirceWebBold', 12px);
			.caps;
			text-align:center;

			&:hover, &.active {
				box-shadow: 0px 0px 8px 2px rgba(255,255,255,1);
				background-color:#fff;
				padding:13px 0 34px;
				z-index:1;
				color:@hover;
				border:2px solid @bl-bg;
				border-bottom:0;
				.rel;
				border-radius:4px 4px 0 0;
				span {height:56px;background:white;display:block;}
				&:after,
				&:before{
					content:'';
					.wh(6px,6px);
					border:2px solid @bl-bg;
					.abs;
					bottom:-3px;
					border-top:0;
				}
				&:after{
					border-left:0;
					border-radius:0 0 4px 0;
					left:-8px;
				}
				&:before{
					border-right:0;
					border-radius:0 0 0 4px;
					right:-8px;
				}
				
			}

		}
		&:first-child a {
				&:after{
					border-radius:0;
					width:0;
					left:-2px;
				}
			
		}
		&:last-child a {
				&:before	{
					border-radius:0;
					width:1px;
					right:-3px;
				}
			
		}

	}
	
	
	// ¯\_(ツ)_/¯
	.li-tab-desc {width:130px;}
	.li-tab-char {width:153px;}
	.li-tab-inst {width:134px;}
	.li-tab-revw {width:135px;}
	.li-tab-avai { width:110px; }
	
	// ¯\_(ツ)_/¯  ¯\_(ツ)_/¯  ¯\_(ツ)_/¯
	.li-two-lines {
		a {
			line-height:14px;
			padding:8px 0 24px;
		
			&:hover, &.active {
				height:29px;
				padding: 8px 0 25px;
		
			}
			h2,h3 {line-height:14px;}
		}
		
	}
	
	
}
.tabs {
	> .w {
		padding:22px 28px 25px;
		margin-top:-2px; 
		.tab {
			display: none;
			&:first-child{
				display:block;
			}
		}
	}
}
.tab-desc{
	font-size:16px;
	p {margin:0 0 25px 0;}
}
.tbl-series{ 
	font-size:16px;
	.btn {width:105px;}
	.compareset label.hover {
		color:@highlight;
		.und;
		cursor:pointer;
	}
}

.tab-inst {
	.item {
		margin:0 0 30px;
		.lch;
		.lnk{
			.font('CirceWebBold', 16px);
			margin:0 0 6px 0;
			line-height:22px;
		}
		.dsc{
			.font('ProximaNova-Bold-webfont', 14px);
			color:@block-fnt;
			line-height:24px;
		}
		.type{
			.font('ProximaNova-Bold-webfont', 10px);
			.caps;
			.l;
			.brad;
			color:@dark-text;
			background-color:@bl-text;
			padding:4px 10px 3px;
			margin:0 10px 0 0;
		}
	}
}
.tbl-avai {
	margin: 0 0 15px 0;
}

.extras {
	.item{
		margin:0 0 15px 0;
		.lch;
	}
	.pic {
		.bl;
		.wh(296px,95px);
	}
	.warning{
		.brd-2;
		padding: 15px;
		p {
			margin:0;
			font-size:16px;
			
		}
		p.ttl {
			color:@hover;
			.font('CirceWebBold', 16px);
		}
	}
}