.categories{
	margin: 0 0 40px 0;
	.item {
		.it;
		.l;
		margin: 0 20px 0 0;
		.lch;
		.wh(262px, 240px);
		.w {padding:0 27px;}
		.ttl {
			margin: 0 0 10px 0;
			.font('CirceWebBold', 18px);
			color:@highlight;
		}
		.pic {
			height:175px;
			margin:0 0 20px 0;
			.ib;
		}
		&:hover{
			.ttl {
				color:@hover;.und;
			}
		}
	}

}

.cat-ctrl{
	padding:8px 27px;
	margin:0 auto 30px;
	ul{
		.notul;
		.l;
		padding-top:8px;
		
		li {
			.l;
			margin:0 6px 0 0;
			.font('CirceWebBold', 16px);
			color:@bl-brd;
			a {color:@text;}
		}
	}
	.btns {
		.r;
		height:40px;
		.switch {
			text-align:center;
			.font('ProximaNova-Bold-webfont', 10px);
			.caps;
			.bl;
			.l;
			letter-spacing:0.8px;
			height:10px;
			line-height:10px;
			background-color:@bl-bg;
			border:0;
			border-bottom: 2px solid @bl-brd;
			color:@catgrey;
			cursor:pointer; 
			padding:15px 20px 13px;


			&:hover {
				color:@hover;
				background-color:@bl-bg-hover;
			}
			&.active {
				cursor:default;
				color:@bg;
				background-color:@btn-g;
				border-bottom: 0;
				border-top: 2px solid @catgrey;
				padding: 13px 20px 15px
			}
		
		}
		.tldr {
			border-top-left-radius: @brad;
			border-bottom-left-radius: @brad;
		}
		.moar{
			border-top-right-radius: @brad;
			border-bottom-right-radius: @brad;
		
		}
	}
}

.cat-types, .cat-type-in {
	.ttl2 {
		height:65px;
		line-height:65px;
		margin: 0 0 5px;
		.rel;
		span {.bl;.l;}
		.ico{
			display:inline-block;
			margin:0 0 0 20px;
			top:19px;
			.wh(65px,60px);
			background-position:0 center;
			background-repeat:no-repeat;
		}
	}
}

.cat-types{
	.items {
		margin:0 auto 30px; 
		.item {
			.it;
			display:inline-block;
			vertical-align:top;
			margin: 0 17px 20px 0;
			.pic {
				.wh(258px, 163px);
				border:2px solid @bl-bg;
				margin:0 0 18px 0;
				.ib;
				background-color: @bg;
				background-size: initial;
			}

			.list {
				padding:0;
				margin:0 26px;
				list-style:none;
				li {
					.font('CirceWebBold', 18px);
					margin:0 0 18px 0;
					line-height:20px;
					}
				a {
				color:@highlight;
					&:hover{
						color:@hover;
						.und;
					}
				}
				span{
					.font('CirceWebRegular', 14px);
					display:block;
					padding:5px 0 0 0;
					
				}
			}
		}
	}
}

@blm:27px;
.with .item {
	width:356px;
	min-height:390px;
	&:nth-child(3n) {
		.mr;
	}
	.pic {display:none;}
	.ttl {
		.font('ProximaNova-Black-webfont', 14px);
		.caps;
		margin:@blm @blm 20px;
	}
	

}
.without .item {
	.wh(262px, 300px);
	&:nth-child(4n) {
		.mr;
	}
	&:hover{
		color:@hover;.und;
	}
	.lnk {
		.bl;
	}
	.ttl {
		.font('CirceWebBold', 18px);
		line-height:25px;
		margin:0;
		padding:0 @blm;
	}
	.list{display:none}
}

.brands-slider {
	padding:28px 45px 25px;
	margin:0 auto 38px;
	.slick-prev, .slick-next {
		top:38px;
	}
	.slides {
		.wh(920px,190px);
		margin:0 auto;}
	.item {
		.bl;
		.l;
		.wh(168px, 190px);		
		margin:0 20px 0 0;
		.lch;
		.pic {
			background-color:@bl-bg;
			border: 2px solid @bl-bg;
			.wh(164px, 121px);
			margin:0 0 13px;
			.brad;
		}
		.ttl {
			margin: 0 0 10px 0;
			.font('CirceWebBold', 16px);
		}

		&:hover{
		.pic {border: 2px solid @hover;}
		.ttl {
			color:@hover;.und;
			}
		
		}
	}

}

.brands-logos-slider {
	padding:25px 0;
	.slides {
		.wh(1045px,55px);
		margin:0 auto;}
	.item {
		.bl;
		.l;
		.wh(153px, 95px);		
		margin:0 30px 0 0;
		.lch;
		.ttl {
			height:45px;
			line-height:15px;
			&:hover{
				color:@hover;
				.und;
			}
		}
		.pic {
			.wh(130px, 50px);
			.bgg;
		}

	}

}

.cat-cln{
	.col-l{
		width:356px;
	}
	
	.col-r{
		width:732px;
	}
}


.results-switcher{
	padding:8px 27px;
	margin:0 auto 20px;
	height:40px;
	.sort, 
	.amount, 
	.ttl, 
	.ik_select {.l;}
	.ttl {
		line-height: 40px;
		margin-right: 20px;
	}
	.sort-select {
		width: 160px;
		margin:0 40px 0 0;
	}
	.amount-select {width: 80px;}
	.btns {
		.r;
		.switch {
			.wh(55px,38px);
			.bl;
			.l;
			background-color:@bl-bg;
			border-bottom: 2px solid @bl-brd;
			color:@catgrey;
			cursor:pointer; 

			&:hover {
				background-color:@bl-bg-hover;
			}
			&.active {
				cursor:default;
				background-color:@btn-g;
				border-bottom: 0;
				border-top: 2px solid @catgrey;
			}
		
		}
		.tiles {
			border-top-left-radius: @brad;
			border-bottom-left-radius: @brad;
		}
		.blocks{
			border-top-right-radius: @brad;
			border-bottom-right-radius: @brad;
		
		}
	}

}


.results-block{
	.item {
		.l;
		margin:0 20px 20px 0;
		height:544px;
		
		.btn-hold{
			height:50px;
			margin:0 0 15px;
		}

		//every second child
		&:nth-child(even) {
			margin-right:0;
		}
		//last two children
		&:nth-last-child(-n+2) {
			margin-bottom:0;
		}
	}
}

.results-line{

	.b-line {

		//style as generic grey block (see gen.less)
		.it;
		
		//width x height (see gen.less)
		.wh(100%, 350px);
		
		//content wrap to assign padding to
		.w {padding:27px 30px 23px;}
		
		.cln-inf {
			.l;
			width:216px;
		}
		.cln-bsk {
			.r;
			width:195px;	
		}
		.cln-chars {
			.l;
			width:250px;
			font-size:14px;
			.char-tl{
				margin:0 0 2px;
				.font('CirceWebBold', 14px);
				line-height:16px;
			}
			.char-in{margin:0 0 10px;.lch;}
		}
		
		.ttl {
			.l;
			.font('CirceWebBold', 20px);
			line-height:25px;
			.wh(460px,50px);
			margin-bottom: 20px;
		}
		.status {
			.r;
		}

		.pic {
			.bl;
			margin-bottom:5px;
			.wh(200px,185px);
		}
		.rate{
			height:25px;
			.font('CirceWebBold', 14px);
			.stars, .lnk {.l;}
			.stars {
				margin:0 15px 0 0;
			}
			.lnk{color:@highlight}
		
		}
		.cena {margin:0 0 4px;}
		.prc {
			margin:0 0 42px;
			.curr{
				letter-spacing:0.2px;
				.font('ProximaNova-Xbold-webfont', 28px);
				line-height:30px;
				span {.font('ProximaNova-Xbold-webfont', 17px);}
				&.curr-only {
					line-height:40px;
				}
			}
			.past {
				.l;
				padding-top:4px;
			}
			.old, .profit {
				.font('ProximaNova-Bold-webfont', 14px);
				display:line-block;
			}
			.old{
				color:@bl-text;
				margin:0 10px 0 0;
				.cross;
			}
			.profit{
				color:@accent3; 
			}
			

		}	
		.checkset{
			font-size:14px;
			margin:0 0 10px;
			.checkline{margin:0 0 10px;}
		}
		//v koriznu
		.btn-to-bsk {
			.r;
			width:100%;
		}
		
	}


	.item {
		margin:0 0 20px;
		.lch;
	}
}

//item status label
.status {
	.brad;
	display:inline-block;
	.font('CirceWebBold', 12px);
	padding:0 10px 2px;
	line-height:19px;
	white-space: nowrap;
	&.st-ok {
		background-color:@tdh;
		color:@accent3;
	}
	&.st-no {
		background-color:@bl-brd;
		color:@btn-g;
	}
}

.filter-switcher{
	height:60px;
	.brad;
	background-color:@bl-bg;
	margin:0 auto 20px;
	
	ul {
		.notul;
		margin:0 auto;
		width:300px;
		color:@catgrey;
		li {
			.l;
			height:10px;
			line-height:10px;
			padding:25px 0;
			.font('ProximaNova-Bold-webfont', 10px);
			.caps;
			letter-spacing:0.8px;
			margin:0 22px 0 0;
			.lch;
			.rel;
		}
		.switch {
			color:@text;
			&:hover{
				color:@hover;
			}

		}
		.arr {
			.abs;
			.wh(20px, 10px);
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
			display:none;
		}		
		.active {
			.switch{
				cursor:default;
				color:@hover;}
			.arr{
				display:block;
			}
		}
		
	}
}
.filter {
	margin:0 auto 47px;
	> .w {
		padding:20px;
		.brad;
		background-color:@bl-brd;
	}
	.item {
		.brad;
		background-color:@bg;
		margin-bottom:20px;
		.lch;
		.ttl {
			height:20px;
			.rel;
			.font('ProximaNova-Bold-webfont', 12px);
			.caps;
			letter-spacing:0.8px;
			padding:10px 20px;
			span{
				.bl;
				.l;
				line-height:18px;
				margin:0 10px 0 0;
			}
		}
		
		.hider {
			.abs;
			.wh(20px,20px);
			top:10px;
			right:20px;
			cursor:pointer;
		}
		.cont{
			padding:10px 18px 24px;
		}
	
	}
	.open {
		.que {display:none;}
	}
	.inp-do {text-align:right;}
	.range{
		.inputset{margin:0 0 23px 0;}
		.bar {
			height:20px;
			margin-bottom:25px;
		}
	}
	.checkset label {
		font-size:14px;
	}
	.inp-100 {width:70px;}
	.btns {
		.btn {
			.r;
			width:100px;
		}
		.btn-f-clear {}
		.btn-f-show {margin-left:15px;}
	}
}


@list: 27px;
@itlist: 45px;


.info-block {
	margin-bottom:45px;
	.lch;
	.ttl2{
		margin-bottom:20px;

	}
	.list {
		list-style:none;
		margin:0 0 0 @list;
		padding:0;
		li {
			text-indent: -@list;
			margin-bottom:12px;
			line-height: 18px;
			.lch;
		}
		a {
			padding:0 0 0 @list;
			&:hover{
				color:@hover;
				.und;
			}
		}
	}
	.item-list {
		margin:0 0 0 @itlist;
		li{
			text-indent: -@itlist;
		}
	
		a {
			padding:0 0 0 @itlist;
			background-repeat: no-repeat;
			background-position:0 0;
		}
	}
}
.info-review {
	.name, .city {.font('CirceWebBold', 16px);}
	.stars {
		height:19px;
		margin:0 0 8px;
	}
	.name {margin:0 12px 0 0;
		&:hover{color:@hover;.und;}
	}
	.city{color: @btn-g;}
	.dsc p {
		margin:0 0 5px 0;
		line-height:20px;
	}
}
//popular categories for page 404, portfolio, etc
.pop-cat{
	.items .item {
		.l;
		margin:0 20px 20px 0;
		&:nth-child(4n) {
			.mr;
		}
	}
}
//brand catalogue columns
.cat-brands {
	.col-l {
		width:356px;
	}
	.col-r {
		width:732px;
	}
	.intro {
		margin:0 0 40px;
	}
}
.cat-brand-logo {
	.wh(260px, 89px);
	background-repeat:no-repeat;
	margin:0 0 40px;
}
.cat-type-in{
	margin-bottom:40px;
	.lch;
	.item{
		margin: 0 15px 20px 0;
		&:nth-child(2n) {
			.mr;
		}
		&:nth-last-child(-n+2) {
			margin-bottom:0;
		}
	}

}
.brand-list {
	.l;
	width:175px;
	list-style:none;
	padding:0;
	margin:0 5px 0 0;
	.lch;
	li {
		margin:0 0 10px 0;
		.lch;
	}
	a {
		.font('CirceWebBold', 16px);
		&:hover {
			color:@hover;
			.und;
		}
	}
}
.brand-news{
	margin:0 0 40px;
	.items {
		background-color:@bl-bg;
		border-bottom: 2px solid @bl-brd;
		.brad;
		padding:23px 30px;
	}
	
	.item {
		.l;
		margin:0 20px 0 0;
		.lch;
		width:210px;
		
	}
	.ttl {
		.font('CirceWebBold', 16px);
		line-height:24px;
		margin:0 auto 10px;
		&:hover {
			color:@hover;
			.und;
		}
	}
	.date {
		line-height:18px;
		margin:0;
		color:@block-fnt;
		.font('ProximaNova-Bold-webfont', 14px);
	}
}

//all brands page
.brands-all {
	.item {
		.l;
		height:315px;
		margin:0 20px 20px 0;
		&:nth-child(4n) {
			.mr;
		}
		
	}
}