/******* colors *******/

/*** default multiuse */
@bg: #fff;
@text: #282828;
@link: #282828;
@hover: #f22613; /** red orange */
@ttl: #282828;
@highlight: #3498db; /** light blue */
@btn-hover: #ff3a28; /** orange button hover */

/*** main blocks */
@bl-bg: #f5f5f5; /** light grey */
@bl-brd:#e5e5e5;
@bl-bg-hover: #f9f9f9;
@block-fnt: #9c9b9b; /** dark grey in news date */
@bl-text:#848484;
@bread: #f2f2f2; /** breadcrumbs grey bg */
@inner: #f5f5f5; /** inner pages mid section separator */

/*** on dark bg */
@dark-bg: #1c384b; /** dark dusty blue */
@dark-text: #fff;
@dark-text2: #426883; /** blue text in footer */
@dark-link: #fff;
@dark-hover: #f22613; /** red orange */


/*** deco 4 main page stamps */
@accent1: #663399; /** purple */
@accent2: #f68c25; /** orange */
@accent3: #2ecc71; /** unreadable green */
@accent4: #cdeddb; /** more unreadable green */
@accent5: #4cc9e4; /** other light blue */
@accent6: #fff6f5; /** pale orange */

/*** popup bgs */
@pop-bg-1:#fff;
@pop-bg-2:#646464; /** grey */
@pop-bg-3:#30d174; /** green */

/*** fix hd */
@fx-city:#bebebe; /** light grey 4 underline */
@fx-br:#dfdfdf; /** light grey 4 border*/

/*** batony */
@btn-g: #969696; /** grey btn bg or font */

/*** tables */
@th: #969696; /** tbl th font */
@tdh: #d5f5e3; /** td green highlight */

/*** card */
@chbrd: #d6eaf8; /** pale blue for card chars borders and 1 click btn */
@ucbrd: #f4ccc8; /** ucenka border*/

/*** cat ctrl */
@catgrey: #7e7e7e;

/*** portfolio border */
@dusty: #334c5d;

/*** marker highlight */
@marker: #fffd7b; /** yellow */

/*** status */
@okay: #2ecc71; /** green */
@nope: #f22613; /** red */

/*** custom selects */ 

//ikselect:
@sel-bg:#f2f2f2;
@sel-brd:#e8e8e8;
@sel-hover: #3da3e7; /** lighter blue */
@sel-list-bg: @highlight;
//4 gmap header
@map-sel-scr-brd:#2e8dcd;
@map-sel-scr-bar:#6fc5ff;

@map-sel-scr: #6fc5ff; /** lighter blue, map select scrollbar */


/******* colors end *******/