/** common ikselect styles */
.ik_select_link {cursor:pointer}

.ik_select_link:after,
.intro-select2-link .ik_select_link_inner:after{
	position:absolute;top:50%;right:10px;line-height:24px;margin-top:-11px
}
.ik_select_link.ik_select_link_disabled{opacity:.5;}
.ik_select_link_text {
	display:block;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.ik_select_dropdown{border-radius:@brad;}
.ik_select_dropdown p{margin:0;padding:5px 15px}

.ik_select_filter_wrap,
.ik_select_nothing_found{padding:5px 15px}

.ik_select_filter{
	padding:3px 14px;
	border:1px solid #333;
	border-radius:@brad;
	&:focus{outline:none}
}

.ik_select_list {
	background:@sel-list-bg;
	color:@dark-text;
	border-radius:@brad;
	cursor:default;
	.ik_select_option.ik_select_hover{background:@sel-hover}
	.ik_select_option_disabled{opacity:.5;}
	.ik_select_optgroup{padding:5px 15px;}
	.ik_select_optgroup .ik_select_option{margin:0 -15px;padding:0 30px}
	.ik_select_optgroup_label{padding-bottom:2px;color:rgba(255,255,255,0.5)}
}

.ik_select {
	.ik_select_link{
		padding:11px 28px 14px 14px;
		border-radius:@brad;
		border-top:2px solid @sel-brd;
		color:#000;
		.font('ProximaNova-Reg-webfont', 13px);
		line-height:13px;
		height:13px;
		font-weight:bold;
	}
}

.ik_select_dropdown  {
	ul {
		.notul;
		padding:5px 0;
		.font('ProximaNova-Reg-webfont', 13px);
		font-weight:bold;
		.ik_select_option {padding:9px 0 9px 14px;}
		
	}
}


//small select for budget
.ik-30-lt{
	.ik_select_link{
		letter-spacing:1px;
		background-color:@bg;
		
		padding-top:7px;
		padding-left:16px;
		padding-bottom:8px;
		
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}




/** form general */

//inputs
.inp {
	.font('ProximaNova-Reg-webfont', 13px);
	font-weight: bold;
	letter-spacing:0.8px;
	border-top: 2px solid #e8e8e8;
	.brad;
	padding-top:5px;
	padding-left:16px;
	padding-right:16px;
	padding-bottom:6px;
	line-height:17px;
	height:17px;
}
.inp-t {
	line-height:27px;
	height:27px;
}
.inp-drk {
	background-color:@sel-bg;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.inp-lt {
	background-color:@bg;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.txtarea {
	padding:10px 16px;
	border-top: 2px solid #e8e8e8;
	.brad;
	.font('ProximaNova-Reg-webfont', 13px);
	font-weight: bold;
	letter-spacing:0.8px;
	resize: none
}
.txtarea-drk {
	background-color:@sel-bg;
	
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.txtarea-lt {
	background-color:@bg;

	border-left: none;
	border-right: none;
	border-bottom: none;
}


//question mark ico
.que {
	.icon(24px, 24px);
	display:inline-block;
}
//question mark ico smaller
.que-sm {
	.wh(18px, 18px);
}

/** iCheck plugin Minimal skin */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    margin: 0 9px 0 0;
	vertical-align:top;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
	&.disabled { cursor: default;}
}

.checkset, .inputset {
	padding:0; margin:0;.bl;
}
.checkset label {
	display:inline-block;
	font-size:16px;
	line-height:20px;
    vertical-align: top;
}

//line with checkbox, label and que
.checkline {
	height:20px;
	margin-bottom:15px;
	&:last-child {
		margin-bottom:0;
	} 
	.rel;
	.que {
		margin: 0 0 0 7px;
	}
}
//line with label and textinput
.inputline {
	height:30px;
	label {margin:0 8px 0 0;}
	.rel;

}
//display lines as blocks x2 per line
.blocke {
	.checkline, .inputline {
		.l;
		width:49%;
		//last two children
		&:nth-last-child(-n+2) {
			margin-bottom:0;
		}
	}
}
//display lines inline
.inline {
	.checkline {
		display:inline-block;		
		margin-right:25px;
		margin-bottom:0;
		.lch;		
	}
}

//search
.srch-field {
	.bl;
	background-color:#f2f2f2;
	padding:10px 44px 10px 12px;
	border: 1px solid #ebebeb;
	border-top: 2px solid #e8e8e8;
	border-radius: 2px;
	line-height:17px;
	height:17px;
	.font('ProximaNova-Reg-webfont', 14px);
	font-weight: bold;
	letter-spacing:0.8px;
}
.srch-btn {
	.abs;
	.bl;
	top:0;
	right:0;
	border:0;
	.wh(40px, 40px);
}
.srch-holder {
	.rel;
 	display:inline-block;
}

// autocomplete
.autocomplete-suggestions {
	.abs;
	background-color:@bg;
	right:0;
	left:0;
	top: 45px;
	border:1px solid #eee;
	.brad;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(194,188,194,1);
	-moz-box-shadow: 0px 0px 6px 0px rgba(194,188,194,1);
	box-shadow: 0px 0px 6px 0px rgba(194,188,194,1);
	.autocomplete-suggestion {
		padding:9px 12px;
		.lows;
		letter-spacing:0.8px;
		.font('ProximaNova-Reg-webfont', 14px);	
		&:hover, &.autocomplete-selected {
			cursor:pointer;
			color:@dark-hover;
			background:@accent6;
		
		}
	}
}

//range slider
.slider-container {
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-container .back-bar {
  height: 10px;
  position: relative;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -17px;
  font-size: 8px;
  background: white;
  white-space: nowrap;
  line-height: 1;
}
.slider-container .back-bar .focused {
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale {
  top: 2px;
  position: relative;
}
.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}
.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}
.theme-green .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: @bl-brd;
}
.theme-green .back-bar .selected-bar {
  border-radius: 2px;
  background-color: @hover;
}
.theme-green .back-bar .pointer {
  width: 15px;
  height: 15px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid @hover;
  background-color: @bg;
}
.theme-green .back-bar .pointer-label {
  color: @bl-brd;
}
.theme-green .back-bar .focused {
  color: #333;
}
.theme-green .scale span {
  border-left: 1px solid @bl-brd;
}
.theme-green .scale ins {
  color: #999;
}

//gmap select
.map-select {
	width:250px;
	.l;
}

.map-select-dd {
	top:45px;
}