.footer-w {
	width:@unfixed;
	background:@dark-bg;
}

.footer {
	.aut; 
	padding:40px 0;
	color:@dark-text;
	.cmt {
		color:@dark-text2;
		.font('CirceWebRegular', 14px);
		margin:0 0 10px 0;
	}
	.ft-mn a {.decno;color:@dark-link;
		&:hover {color:@dark-hover;.und;}
	}
	.logo {
		.bl;
		.l;
		margin:0 175px 0 0;
	}
	.logo-p{
		.caps;
		color:@bg;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.3px;
		margin:0;
	}
	.callback{
		.bl;
		.l;
		.wh(117px, 17px);
		padding:14px 18px 10px 46px;
		border: 0;
		.brad;
		line-height:17px;
		letter-spacing:1px;
		.font('ProximaNova-Bold-webfont', 10px);
		.caps;
		color:@dark-text;
		border: 2px solid @dark-text2;
		.brad;
		&:hover{
			.decno;
			color:@dark-text;
			background-color:@dark-hover;
		}
	}
}
.ft-tp{
	padding-bottom:26px;
	margin-bottom:36px;
	border-bottom:2px solid @dark-text2;
}

.ft-em {
	.l;
	.eml {
		.font('ProximaNova-Bold-webfont', 22px);
	}
	margin:0 38px 0 0;
}
.ft-phn
 {
	.l;
	.phn {
		.font('ProximaNova-Bold-webfont', 22px);
	}
	margin:0 50px 0 0;
}

.ft-call {
	.l;
}



.ft-mn {
	color:@dark-text;
	.l;
	width:780px;
	.clmn {
		.l;
		width:175px;
		margin-right: 20px;
		&:last-child {
			.mr;
			margin-left: 20px;
		}
	}
	.ttl {
		.caps();
		.font('ProximaNova-Black-webfont', 14px);
		letter-spacing:0.25px;
		margin: 0 0 25px 0;
		
	}
	.ul {
		margin:0;
		padding:0;
		line-height: 20px;
		li {
			list-style: none;
			margin: 0 0 10px 0;
		}		

	}

}

.ft-media {
	.r;
	width:284px;
	
}

.social-ul{
	padding:0;
	margin:0;
	.bl;
	li {.l;.bl;
		list-style: none;
		margin: 0 10px 0 0;
	}
	a{
		.bl;
		.wh(40px,40px);
		&:hover {.decno;}
	}
}
.ft-social, .ft-sub, .ft-cards {
	margin-bottom:30px;
}
.i-visa-master {
	.ico {
		.wh(40px,27px);
		.l;
		margin:0 5px 0 0;
		.lch;
	}
}

.i-visa{  }

.i-master{ .wh(40px,27px); }

.sub-field {
	.l;
	margin:0 10px 0 0;
	background-color:@dark-text2;
	color:@dark-text;
	padding:12px 14px;
	border: 0;
	.brad;
	.font('ProximaNova-Bold-webfont', 10px);
	line-height:17px;
	.wh(170px, 17px);
	.caps;
}
.sub-btn {
	.bl;
	.l;
	.wh(75px, 40px);
	text-align:center;
	.font('ProximaNova-Bold-webfont', 10px);
	.caps;
	background-color:@highlight;
	color:@dark-text;
	line-height:40px;
	border: 0;
	.brad;
}

.ft-rnb {

	width:284px;
	margin:0 auto 10px;
	a {
		.bl;
		width:284px;
		height:90px;
	}

}