/******* paths ******/

// img paths
@imd: "../i/d"; /** design elements, sprites, menus */
@imc: "../i/c"; /** content and midsection stuff */
@imp: "../i/p"; /** actual placeholders */

// custom font path(s)
@fontpath: "../f";

/******* paths end *******/


/******* widths *******/

@unfixed: 100%;

// min for mid block sans arrows
@lim: 1110px; 

//promo for main page
@fixed: 1280px;
@scrollbar:20px;
@promo: @fixed - @scrollbar;

/******* widths end *******/


/******* less "functions" *******/

// won't show up as class when compiled
.lim() {width:@lim;}
.unf() {width:@unfixed;}
.aut(@t: 0, @b: 0, @sides: auto) {
	margin: @t @sides @b;
	width:@lim;	
	}
.caps() {text-transform:uppercase;}
.lows() {text-transform:lowercase;}
.rel() {position:relative}
.abs() {position:absolute}
.decno() {text-decoration:none;}
.und() {text-decoration:underline;}
.bl(){display:block}
.wh(@w, @h) {width: @w; height: @h;}
.mt() {margin-top: 0;}
.mr() {margin-right: 0;}
.mb() {margin-bottom: 0;}
.ml() {margin-bottom: 0;}
.pt() {padding-top: 0;}
.pr() {padding-right: 0;}
.pb() {padding-bottom: 0;}
.pl() {padding-bottom: 0;}
.brr() {border-right:0;}
.brl() {border-left:0;}
.l {float:left;}
.r {float:right;}
.f-l {float:left !important;}
.f-r {float:right  !important;}
.cf() {clear:both;}
.bgg() {
	background-size: contain; //remove when sample pix fit the containter
	background-repeat: no-repeat;
	background-position:center center;
	}
.pic {
	.bgg;
}

//common border radius
@brad: 4px;
.brad(){
	border-radius: @brad;
	}

// stndrd grey block preset
.it() {
	.bl;
	.rel;
	background-color:@bl-bg;
	border-bottom: 2px solid @bl-brd;
	.brad;
	&:hover {
		background-color:@bl-bg-hover;
	}
}


// top image for grey block
.ib(){
	border-top-left-radius: @brad;
	border-top-right-radius: @brad;
}
//bottom radius for pop-ft
.ibb(){
	border-bottom-left-radius: @brad;
	border-bottom-right-radius: @brad;
}

// abs ico preset
.ic(){
	.bl;
	.abs;
}

//icon without visible text preset
.icon(@iw, @ih) {
	.bl;
	.wh(@iw, @ih);
	text-indent:-99999em;
	overflow:hidden;
	cursor:pointer;
}

// remove all margin from last child
.lch() {
	&:last-child {
		margin:0;
	}
}


// orange button preset
.btn{
	.bl;
	cursor:pointer;
	text-align:center;
	.font('ProximaNova-Bold-webfont', 10px);
	.caps;
	background-color:@hover;
	color:@dark-text;
	line-height:40px;
	border: 0;
	.brad;
	padding:0;
	height:40px;
	letter-spacing:0.8px;
	&:hover:not(.btn-disabled) {
		background-color:@btn-hover;
	}
	.userselect;
}



//btn height modifiers
.btn-30 {
	line-height:30px;
	height:30px;
}
.btn-50 {
	line-height:50px;
	height:50px;
}
//btn color modifiers

//blue
.btn-b {
	background-color:@highlight;
	&:hover:not(.btn-disabled) {
		background-color:@highlight;
	}
} 
//grey
.btn-g {
	background-color:@btn-g;
	&:hover:not(.btn-disabled) {
		background-color:@btn-g;
	}
}

//disabled btn
.btn-disabled {
	opacity:0.3 !important;
	cursor:default !important;
}

// grey border for wrappers
.brd{
	border: 2px solid @bl-bg;
	.brad;
}
.brd-2 {
	border:2px solid @ucbrd;
	.brad;
}
//yellow marker-like highlight
.marker {
	background-color:@marker;
}

//crossed out
.cross(){
	text-decoration: line-through;
}



// non-list list
.notul(){
	.bl;
	list-style:none;
	margin:0;
	padding:0;
	> li {
		.bl;
		> a {.bl;}
	}
}

//no user select (buttons)
.userselect(){
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;    
}

/******* less functions end *******/


/******* fonts *******/

// default
@fontsize: 14px;

/**
filenames:

CirceWebBold
CirceWebExtraBold
CirceWebExtraLight
CirceWebLight
CirceWebRegular
CirceWebThin
ProximaNova-Black-webfont
ProximaNova-Bold-webfont
ProximaNova-BoldIt-webfont
ProximaNova-Light-webfont
ProximaNova-LightIt-webfont
ProximaNova-Reg-webfont
ProximaNova-RegIt-webfont
ProximaNova-Xbold-webfont
rouble

*/

// generate custom fonts
// note: don't put @font-face inside function cuz https://github.com/less/less.js/issues/699
.fontGenerate(@family: arial, @weight: normal, @style: normal, @path: @fontpath){
        font-family: @family;
        src:url('@{path}/@{family}.eot');
        src:url('@{path}/@{family}.eot?#iefix') format('embedded-opentype'),
            url('@{path}/@{family}.woff') format('woff'),
            url('@{path}/@{family}.ttf') format('truetype'),
            url('@{path}/@{family}.svg#icon') format('svg');
        font-weight: @weight;
        font-style: @style;
}

// fonts
@font-face {
	.fontGenerate('CirceWebBold');
}
@font-face {
	.fontGenerate('CirceWebExtraBold');
}
@font-face {
	.fontGenerate('CirceWebExtraLight');
}
@font-face {
	.fontGenerate('CirceWebLight');
}
@font-face {
	.fontGenerate('CirceWebRegular');
}
@font-face {
	.fontGenerate('CirceWebThin');
}
@font-face {
	.fontGenerate('ProximaNova-Black-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-Bold-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-BoldIt-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-Light-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-LightIt-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-Reg-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-RegIt-webfont');
}
@font-face {
	.fontGenerate('ProximaNova-Xbold-webfont');
}

//font 4 rouble sign
@font-face {
	.fontGenerate('rouble');
}

.font(@fam: 'CirceWebRegular', @size: @fontsize){
    font:@size @fam;
}

//lol
.rbl{
	font-family:'rouble' !important
}

/******* end fonts *******/



html {	margin:0;
	padding:0;}

body {
    background: @bg;
	min-width: @lim;
    color: @text;
	padding:0;
	.font();
}
a {
    color: inherit;
    outline:none;
	.decno;
    &:hover {color:inherit;cursor:pointer;}
}

//chrome reset
:focus {outline:none;}

fieldset {border: 0}

// clearfix, goes on wrapper
.c:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}