// fixed header

.fix-hd-w {
	position:fixed;
	width:@unfixed;
	top:0;
	left:0;
	height:40px;
	z-index:4;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
	background-color:@bg;
	display:none;
}
	
.fix-hd {
	.aut; 
	height:40px;
	font-family: Verdana;
	font-size:11px;
	.item {
		.l;
		.rel;
		white-space: nowrap;
		.lnk {
			.l;
			margin:0 8px 0 12px;
			padding-left:25px;
			span {border-bottom:1px solid @fx-br;}
		}
	}
	
	.i-w {
		padding-top:12px;
		border-right:1px solid @fx-br;
		line-height:15px;
		height:28px;
	}
	
	.empty {
		.lnk, .inf {
			opacity:0.3;
		}
		.lnk {
			cursor:default;

		}
	}
	.inf {
		.l;
		overflow:hidden;
	}
	.lnk {
		font-family: Arial;
		font-size:13px;
		font-weight:bold;

	}
	.cphn {
		width:378px;
	}
	.city{
		.bl;
		.l;
		line-height:15px;
		width:200px;
		padding-left:17px;
		font-family: Verdana;
		font-size:12px;
		font-weight:bold;
		span {border-bottom:1px dashed @fx-city;}
		&:hover { span{border:0;} }
	}
	.phn {
		padding-right:12px;
		font-family: Verdana;
		font-size:12px;
		line-height:14px;
		font-weight:bold;
		 .r;
	}
	.fav{
		width:199px;
		.inf {max-width:70px;}
	}
	.comp{
		width:199px;
		.inf {max-width:70px;}
	}
	.bsk{
		.i-w { .brr; .pr;}
		width:333px;
		.fix-bsk-btn{
			.r;
			.wh(86px, 22px);
			line-height:22px;
			margin-top:-3px;
		}
		.rbl {line-height:10px;}
		.inf {max-width:148px;}
		.ttp{width:220px;}
	}
	
    .ttp {
		display: none;
		.abs;
		left:0;
		right:0;
		top:40px;
		background:@hover;
		text-align:center;
		color:@dark-text;

		.font('CirceWebBold', 13px);
		max-width: 100% !important; 
		overflow: hidden; 
		.w {
			-webkit-box-shadow: inset 0px 1px 15px -8px rgba(0, 0, 0, 0.7);
			-moz-box-shadow: inset 0px 1px 15px -8px rgba(0, 0, 0, 0.7);
			box-shadow: inset 0px 1px 15px -8px rgba(0, 0, 0, 0.7);
			width: 110%;
			margin-left:-5%;
			margin-right: -5%;
			height:30px;
			padding:10px 0 0 0;
		}


		
	}
    
}

.header {
	width:@unfixed;
}	

@mn-func-h: 45px;
.mn-func-w {
	width:@unfixed;	
	background:@dark-bg;
	height:@mn-func-h;
	margin-bottom:25px;
	
	}
.mn-func {
	.aut; 
	.rel;
	a, span {
		.decno;
		.caps();
		.font('ProximaNova-Bold-webfont', 10px);
		color:@dark-link;
		letter-spacing:1px;
		cursor:pointer;
	}
	.city {
		.l;
		padding:15px 15px 19px 40px;
		height:11px;
		line-height:11px;
		span {border-bottom:1px dashed #fff;}
		&:hover {
			span{border:0;}
			color:@dark-link;
		}
	}	
	
}

.mn-func-ul {
	.notul;
	.abs;
	top:0;
	left:235px;
		li {list-style:none}
		>li{
			.l;
			.rel;
			>a {
				padding:15px 18px 0;
				height:30px;
				&:hover {color:@dark-hover;.und;}
			}
			>span
			 {
				.bl;
				padding:15px 18px 0;
				height:30px;
			}
		}

		.lvl2 {
			.notul;
			.abs;			
			display:none;
			left:0;
			top:@mn-func-h;
			background:@dark-bg;
			width:200px;
			a {
				padding:10px 18px;
				&:hover{
					background:@hover;
				}
			}
		
		}
		
		>li:hover .lvl2{.bl;}

	}
.mn-func-acc{
	.r;
	.bl;
	padding:17px 15px 17px 43px;
	height:11px;
	line-height:11px;
	&:hover{
		color:@dark-hover;
	}
	
}

.hd {
	.aut;
	height:52px;
	margin-bottom:22px;
	
	.logo {
		.bl;
		.wh(215px,52px);
		.l;
		.rel;
		margin:0 35px 0 0;
		img {
			.abs;
			.bl;
			z-index:1;
		}
		.logo-p {
			.abs;
			.bl;
			margin:0;
			padding:0;
			z-index:0;
			
		}
		
	}
	
	.callback {
		.bl;
		.l;
		padding:0 0 0 28px;
		margin:5px 25px 0 0;
		.font('CirceWebRegular', 14px);
		line-height:20px;
		.decno;
		span {
			border-bottom:1px dashed @link;line-height:9px;
		}
		&:hover {
			color:@dark-hover;
			span {
				border-bottom:1px dashed @hover;
			}
		}
	}
	
}

.hd-phone {
	.l;margin:0 15px 0 0;
	.phn{
		.font('ProximaNova-Reg-webfont', 28px);
		margin:0;
	}
	.hrs{
		.font('CirceWebRegular', 12px);
	}
}

.hd-srch{
	.l;
	.rel;
	margin:5px 0 0;

	.srch-field {
		width:264px;
		//styling is in form.less
	}
}
.hd-bsk{
	.r;
	margin: 5px 0 0;
	width:130px;
	}
.bsk-lnk{
	.bl;
	.l;
	.decno;
	.rel;
	.wh(40px, 40px);
	margin: 0 12px 0 0;
	span {
		.bl; 
		.abs;
		.font('ProximaNova-Bold-webfont', 10px);
		text-align:center;
		line-height:27px;
		color:@dark-link;
		.wh(27px, 27px);
		right: -14px;
		top:-14px;
		visibility:hidden;
	}

}
.bsk-act {
	.bsk-lnk span{
		visibility:visible;
		}
	.bsk-it{
		padding-top:10px;
		.l;
	}
}
.bsk-it {
	.l;
	.font('CirceWebRegular', 14px);
	
}