
/*** Hot deals (w/timer) (individual block in blox.less) */
.hot-deals {
	.item {
		.l;
		margin:0 20px 0 0;
		.lch;
	}
}
/*** Hot deals end */

/*** News block */

.news {
	.item {
		.it;
		.l;
		margin:0 20px 0 0;
		.lch;
		.pic {
			height:165px;
			margin:0 0 22px;
			.ib;
		}
		
		.wh(262px, 318px);
		.w {padding:0 25px;}
		.ttl {
			margin: 0 0 10px 0;
			.font('CirceWebBold', 16px);
		}
		.date {
			line-height:18px;
			margin:0;
			color:@block-fnt;
			.font('ProximaNova-Bold-webfont', 14px);
		}
		&:hover{
		.ttl {
			color:@hover;.und;
			}
		
		}
	}
}

/*** News block end*/

/*** Info block */
.info {

	.item {
		.it;
		.l;
		margin:0 19px 19px 0;
		.wh(262px, 263px);
		
		.ttl {
			.font('CirceWebRegular', 20px);
			letter-spacing:0.5px;
			font-weight:normal;
			margin:0;
			color:@highlight;
		}
	
		.all {
			.font('ProximaNova-Reg-webfont', 10px);
			.caps;
			font-weight:normal;
			letter-spacing:0.5px;
		}
		
		.dsc {
			.font('CirceWebRegular', 16px);
			margin:0;
			line-height:19px;
		}
		
		&:nth-child(4n) {
			.mr;
		}

	}

	.item-link {
		.w {padding:0 29px;}
		
		.ttl {
			margin:0 0 6px 0;
		}
		.pic {
			margin:0 auto 14px;
			height:130px;
			.ib;
		}
		.all{
			.ib;
			background:@dark-bg;
			opacity:0.8;
			padding:7px 0 7px 27px;
			letter-spacing:0.5px;
			color:@dark-text;
			span {
				padding:2px 20px 2px 0;
				line-height: 16px;
			}
		}
	
		&:hover{
			.ttl {color:@hover;.und;}
		}
	
	}

	.item-list {
		.w {padding:23px 29px 0;}
		.ul {
			margin: 0;
			padding:0;
			list-style:none;
			li{
				.font('CirceWebRegular', 16px);
				line-height:20px;
				margin: 0 0 15px 0;
				a {display:block;padding-left:15px;}
				a:hover {color:@dark-hover;.und;}
			}
		}
		.all {
			margin: 0 0 22px 0;		
			a {
				padding:2px 20px 2px 0;
				line-height: 16px;
				}
		}
		.ttl {
			margin: 0 0 2px 0;
		}

	
	}

}

/*** Info block end */


/*** Help block, also used in Card (individual block in blox.less) */

.help {
	.b-hlp {
		margin:0 20px 0 0;
		.l;
		.lch;
	}
}

/*** Help block end */


/*** Other deals, also used in Card (individual block in blox.less) */

.other-deals {
	.item {
		.l;
		margin:0 20px 0 0;
		.lch;
	}
}

/*** Other deals */


/*** Special offers (not items) */

.offers {

	.item {
		.it;
		.l;
		margin:0 20px 0 0;
		color:@highlight;
		//every second child
		&:nth-child(even) {
			margin-right:0;
		}
		.wh(544px, 333px);
		
		.pic {
			height:235px;
			margin:0 0 15px;
			.ib;
		}
		.w {padding:0 25px;}
		.ttl {
			margin:0;
			.font('CirceWebBold', 19px);
		}
		&:hover{
			.ttl {
				color:@hover;.und;
			}
		}
	}
}

.offers-all{
	a {margin-bottom:20px;}
}

/*** Special offers (not items) end */


/*** Shop info (chess blocks) */

.shop {

	.item {
		.it;
		.l;
		margin:0 19px 19px 0;
		.wh(262px, 238px);
		.w {padding:119px 25px 11px;}
		&:nth-child(4n) {
			.mr;
		}

		.ico {
			.abs;
			.wh(80px, 70px);
			top: 27px;
			left:25px;
		}
		.ttl {
			.font('ProximaNova-Black-webfont', 14px);
			letter-spacing:0.5px;
			font-weight:normal;
			margin:0 0 15px 0;
			.caps;
		}
		.dsc {
			line-height:16px;
			margin:0;
		}
		
		
		&:hover{
			.ttl {color:@hover;.und;}
		}
	
	}
	.pic {
		color:@dark-text;
		border:0;
		background-color:transparent;
		height:240px;
		&:hover{
			.ttl {color:@dark-text;.und;}
		}
	}

}

/*** Shop info (chess blocks) end */