.map {
	.rel;
	
	.map-hd {
		z-index:2;
		border-top-left-radius: @brad;
		border-top-right-radius: @brad;
		.abs;
		height:40px;
		background-color:rgba(28,56,75,0.8);
		padding:20px 26px;
		left:0;
		right:0;
		top:0;
		letter-spacing:0.5px;
		color:@dark-text;
		
		.ttl-r {
			margin:0;
			line-height:40px;
			.l;
			opacity:1;
		}
		.map-city {
			width:340px;
			.map-city-ttl{
				.l;
				line-height:40px;
				margin-right:20px;
			}
		}
		
	}
	.map-container {
		.wh(@unfixed,430px); 
		z-index:1;
		position:relative;
	}
	.map-inner{
		.brad;
	}

}