//reg block w/text, items, etc
.roll {
	.aut(0, 56px);
	//roll block ttl only
	.ttl-r {
		.caps();
		.font('ProximaNova-Black-webfont', 24px);
		letter-spacing:1px;
		margin:0 0 30px;
	}
}

//page titles only. DO NOT use this in items or when r-ttl would do
.inner {
	.ttl1 {
		.caps();
		.font('ProximaNova-Black-webfont', 30px);
		line-height:30px;
		letter-spacing:1px;
		margin:0 0 34px 20px; 
		}
	.ttl2 {
		.font('ProximaNova-Reg-webfont', 24px);
		margin:0 0 24px;
	}

}

//block with text
.txt-block {
	font-size:16px;
	p{
		margin:0 0 25px 0;
	}
	a {
		color:@highlight;
	}
}

//catalogue menu and middles separator for inner pages
.line {
	border-top:2px solid @inner;
	padding:33px 0 0 0;
}

//breadcrumbs
.breadcrumbs{
	.aut(0, 29px);
	.caps;
	.font('ProximaNova-Bold-webfont', 10px);
	letter-spacing:0.4px;

	ul {
		.notul;
		li{
			.l;
			padding-right:15px;
			margin-right:10px;
			margin-bottom:8px;
			height:21px;
			&:last-child {
				padding:0;
				margin:0;
			}
		}
		a,span{
			.bl;
			background-color:@bread;
			.brad;
			padding:2px 9px;
			line-height:17px;
			height:17px;
		}
	}
}
//go to top link
.to-top {
	text-align:right;
	padding-right:4px;
	a {
		color:@highlight;
	
		&:hover{
			color:@hover;
			.und;
		}
	}
}

//print icon
.print {
	.icon(38px,25px);
}

//stars rating
.rate {height:20px;}

//common styling for tables
.tbl-w {padding:18px}
.tbl {
	width:@unfixed;
	//to make border-radius work on td
	border-collapse:separate;

	th, td {
		background-color:@bl-bg;
		vertical-align:middle;
		&:first-child {
			border-top-left-radius: @brad;
			border-bottom-left-radius: @brad;
		}
		&:last-child {
			border-top-right-radius: @brad;
			border-bottom-right-radius: @brad;
		}
	}
	th {
		.font('ProximaNova-Reg-webfont', 14px);
		color:@th;
		font-weight:bold;
		letter-spacing:0.8px;
		text-align:left;
		padding:15px 20px;
	}
	td {
		padding:6px 20px;
		font-size:16px;
	}
	a {
		.font('CirceWebBold', 16px);
		&:hover{.und;}
	}

	//green highlight
	.td-hi td {
		background-color:@tdh;
	}
	//separator
	.sp td {
		padding:0 !important; 
		background:@bg;
		height:10px !important; 
		font-size:0 !important; 
		line-height:10px !important;
		}
	.pic {
		.bl;
		.wh(80px,47px);
	}
}
//tbl with light header
.tbl-lt {
	th {
		background-color:@bg;
		padding-top:3px;
		padding-bottom:12px;
		.caps;
		.font('ProximaNova-Bold-webfont', 12px);
	}

}

//add this for tbl rows to light up on hover
.tbl-hover {
	tr:hover td {
		background-color:@bl-bg-hover;
	}
	tr.sp:hover td {
		background-color:@bg;
	}
	tr.td-hi:hover td {
		background-color:@tdh;
	}
}

//ul w/green dots (card characteristics tab)
.ul-green {
	padding:0;
	margin:0 0 15px 0;
	list-style:none;
	li {padding:0 0 0 20px;}
}

//to bold the ul
.ul-bold{
	.font('CirceWebBold', 16px);
}

//column floats
.col-l{.l;}
.col-r{.r;}

//paginator
.paginator {
	margin:40px auto 0;
	.rel;
	.pages-lt,
	.pages-rt {
		.abs;
		.bl;
		.wh(12px,34px);
		text-indent:-9999em;
		overflow:hidden;
	}
	.pages-lt{
		top:0;
		left:0;
	}
	.pages-rt {
		top:0;
		right:0;
	}
	.pages {
		list-style:none;
		padding:0;
		margin:0 auto;
		text-align:center;
		li {
			display:inline-block;
			margin-right:8px;
			.lch;
			}
		a {
			.bl;
			.wh(30px,28px);
			text-align:center;
			background-color:@bl-bg;
			border-bottom: 2px solid @bl-brd;
			.font('ProximaNova-Bold-webfont', 10px); 
			line-height:28px;
			letter-spacing:0.4px;
			.brad;
			&:hover {
				color:@hover;
				background:none;
				border:none;
			}
	
		}
		.active a {
			color:@hover;
			background:none;
			border:none;
			cursor:default;
		}
		.page-more a {
			color:@text;
			background:none;
			border:none;
			letter-spacing:1px;
		}
	}

}
//content stuff
.pic-lt {
	.bl;
	.l;
	.brad;
	padding: 5px 28px 25px 0;
}
.pic-rt {
	.r;
	.bl;
	.brad;
	padding: 5px 0 28px 25px;
}
.content {
	.col-l {
		width:732px;
	}
	.col-r {
		width:356px;
	}
}
//info-slider

@infh:470px;

.info-slider {
	margin:0 auto 30px;
	width:@unfixed;
	.slides {
		width:@unfixed;
		max-width:1108px;
		min-width:732px;
		z-index: 1;
	}
	.slick-list {
		margin-bottom:15px;
	}
	.item{
		.l;
		.pic{
			.wh(@unfixed, 370px);
			.brad;
			margin:0 auto 22px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size:initial;
		}
		.dsc {
			width:500px;
			background:@bg; 
			margin:0 auto;
			text-align:center;
			font-size:14px;
			p {
				margin:0 0 5px;
				line-height:20px;
				.lch;
			}
		}
		.ttl {
			.caps();
			.font('ProximaNova-Black-webfont', 14px);
			letter-spacing:1px;
			margin:0 0 10px;
		}
	}

}

.info-slider-nav {
	text-align:center;
	height:34px;
	> .w {
		.rel;
		display:inline-block;
	}
	.slick-dots {
		margin:4px auto 0;
		//display:inline;
		text-align:center;
	}
	.slick-prev-sm, .slick-next-sm  {
		display:inline-block;
		.abs;
		.wh(12px,34px);
		text-indent:-9999em;
		overflow:hidden;
	}
	.slick-prev-sm {left:-32px;}
	.slick-next-sm {right:-32px;}
}
//content columns
.clmn-holder{
	display:table;
	margin:0 auto 30px;
	.lch;
}
.clmn50 {
	display:table-cell;
	width:50%; 
	padding-right:5px;
}

.quote{
	font-size:14px;
	margin:0 auto 50px;
	.pic {
		.wh(148px, 148px);
		.l;
	}
	.txt {
		.brad;
		padding:25px 30px;
		background:@bl-bg;
		margin-left:190px;
		.rel;

	}
	.ttl {
		margin:0 auto 15px;
	}
	.name{
		.caps();
		.font('ProximaNova-Bold-webfont', 12px);
		letter-spacing:1px;
		margin:0 0 3px;
	}
	.details {
		color:@btn-g;
	}
	.dsc{
		p{margin:0 0 10px 0;.lch;}
	}
	.arr{
		.abs;
		.wh(20px, 21px);
		left:-20px;
		top:64px;
		
	}
}

//ul + green circles with vertical align: top (multiple lines of text)
.circle{
	padding:0;
	margin:0 0 40px 0;
	list-style:none;
	span {
		display:table-cell;
		vertical-align:top;	
	}
	//when only one line of text
	li.sngl span {
		vertical-align:middle;	
	}
	.gr {
		padding:2px 20px 0 0;		
		b {
			.bl;
			.wh(40px,40px);
			text-align:center;
			color:@accent3;
			.font('ProximaNova-Xbold-webfont', 13px);
			line-height:40px;
		}
	}
	li {
		margin:0 0 24px;
		.lch;
	}
}

//big margin-bottom for content
.mb-c{
	margin-bottom:50px !important;
}

//infopage publication source
.source {
	background-color:@bl-bg;
	border-bottom: 2px solid @bl-brd;
	.brad;
	width:@unfixed;
	font-size:14px;
	margin:0 auto 20px;
	.w { padding:27px 0 25px;}
	.item {
		padding:0 0 0 20px;
	}
	.pic {
		.wh(40px, 40px);
		.l;
		margin-right:15px;
	}
	.ttl{
		.caps();
		.font('ProximaNova-Bold-webfont', 12px);
		letter-spacing:0.5px;
		margin:0 0 10px;
	}
	.dsc{
		margin:0 0 25px;
		.lch;
	}
	.name{
		line-height:20px;
	}
	.details {
		color:@btn-g;
	}

}
//infopage social medias
.social-ul-2{
	padding:0;
	margin:0;
	.bl;
	li {.l;.bl;
		list-style: none;
		margin: 0 10px 0 0;
	}
	a{
		.bl;
		.wh(30px,30px);
		&:hover {.decno;}
	}
}

//bottom infopage nav
.info-nav {
	display:table;
	.sep{
		display:table-cell;
		background:@bg;
		width:2%;
	}
	.inf-arr {
		display:table-cell;
		width:48%;
	}


}
a.inf-arr {
	.it;
	.bl;
	.font('CirceWebBold', 16px);
	line-height:21px;
	.rel;
	color:@text;
	&:hover{
		color:@hover;
		.und;
	}
	
	span {
		.bl;
		.abs;
		.wh(25px,55px);
		border:0;
		text-indent:-99999em;
		top:35px;
	}
	
}

.inf-arr-lt {
	.w { padding:30px 33px 26px 75px; }
	span {
		left:33px;
	}
}
.inf-arr-rt {
	.w { padding:30px 75px 26px 33px; }
	text-align:right;
	span {
		right:33px;
	}
}

//vertical items group for infopage
.v-gr {
	margin-bottom:70px;
	.lch;
	.item {
		margin-bottom:20px;
		.lch;
	}
}
//horizontal items group for infopage
.h-gr {
	margin-bottom:70px;
	.lch;
	.item {
		.l;
		margin-right:20px;
		height:320px;
		.lch;
	}
}
//infopage offer pic
.pic-offer {
	.bl;
	.brad;
	.bgg;
	.wh(356px,320px);
}
//full infopage nav
.full-nav {
	.source, .inf-arr{
		.l;
		.wh(356px,198px);
		margin:0 20px 0 0;
		.lch;
	}
	.inf-arr {
		span {top:70px;}
		> .w {
			padding-top:60px;
		}
	}
}
//404 page search btn
.srch-404 {
	width:394px;
}
//contacts

.contacts {

	.item {
		font-size:16px;
		background-color:@bl-bg;
		border-bottom: 2px solid @bl-brd;
		.brad;
		margin-bottom:20px;
		.lch;
		.w {
			padding:30px;
		}
		.pic{
			.wh(222px,195px);
			.l;
			margin-right:28px;
		}
		.dsc {
			.l;
			width:800px;
		}
		.inf {
			margin:0 0 22px;
			p {
			margin: 0 0 8px 0;
			.lch;
			}
		}
		.ico{
			.wh(16px, 16px);
			.brad;
			margin:0 10px 10px 0;
			.l;
		}
		.ttl {
			.font('CirceWebBold', 18px);
			margin:0 0 8px;
			line-height:18px;
			vertical-align:top;
		}
		.ico-1 {background-color:@highlight;} //blue
		.ico-2 {background-color:@accent3;} //green
		.ico-3 {background-color:@catgrey;} //grey
		.pic{
			.brad;
		}
	}
	.tbl-contact{
		width:100%;
		td {
			vertical-align:top;
			padding-right:10px;
			padding-bottom:18px;
		}
		tr:last-child td{
			padding-bottom:0;
		}
		p {	margin:0;}
		.tl {
			.font('ProximaNova-Bold-webfont', 12px);
			letter-spacing:0.4px;
			.caps;
			margin:0 0 5px;
		}
		.col-1 {width:360px;}
		.col-2 {width:255px;}

	}

}

//news subnav
.subnav {
	padding:15px 27px;
	margin:0 auto 30px;
	ul{
		.notul;
		.l;
		padding:0;
		
		li {
			.l;
			margin:0 26px 0 0;
			.font('ProximaNova-Bold-webfont', 14px);
			color:@bl-brd;
			a {
				color:@text;
				&:hover {
					color:@hover;
					.und;
				}
			}
			span{color:@block-fnt;}
		}
	}
}

//favorites
.favorites {
	.item {
		height:470px;
		.l;
		margin:0 20px 20px 0;
		
		&:nth-child(3n) {
			.mr;
		}
	}
}
//heart
.heart {
	padding-left:37px;
}

//close block
.b-x {
	.abs;
	top:18px;
	right:18px;
	cursor:pointer;
	.wh(17px, 17px);
}
//btn Show more
.btn-more {
	
	width:149px;
	margin:20px auto 15px;
}

//search
.srch-res {
	margin:0 auto 50px;
} 
.srch-res-nmbr{
	.font('ProximaNova-Bold-webfont', 24px);
	letter-spacing:0.4px;
}
.srch-res-inp {
	width:1050px;
}
.tbl-srch-res{
	td {
		padding-top:16px;
		padding-bottom:16px;
	}
	.td-pic {width:80px;}
	.td-where {width:110px; white-space: nowrap;}
	.td-price {
		width:180px;
		white-space: nowrap;
		.curr {margin-right:14px;}
		.old {.cross;color:@bl-text;}
		.profit {color:@okay;.font('CirceWebBold', 16px);}
	}
	.td-status {width:75px;}
}
.st-green{color:@okay;}
.st-grey{color:@btn-g;}
.st-red{color:@nope;}

//internet-shop, RULES
@nav-height: 89px;
.rules-nav-reg {
	.notul;
    border-bottom: 5px solid #dbdbdb;
    margin: 0 auto 13px;
    height:@nav-height;
    position: relative;
    li {
		.bl;
		.l;
		margin:0 20px 0 0;
		width:260px;
		height: @nav-height + 5;
		.lch;
	}
    a {.bl;width:200px;height:56px;padding: 5px 0 0 70px;text-decoration:none;color:#b2b2b2}
	.act a{color:#4d4d4f}
    /*.ico-reg1, .ico-reg2 {padding: 15px 0 0 70px;height:46px;}
    .ico-reg4 {padding: 5px 0 0 70px;height:56px;} */
}
.pickup-ol {
    .l;
	.bl;
	margin:0 20px 0 0;width:225px;font-size: 17px;color:#88bfee;font-weight:bold;
    li {margin:0 0 15px 0;line-height:14px;}
    span,i,a {font-size: 12px;font-weight:normal;}
    span {color:#4d4d4f;}
    i {color:#bfbfbf;font-style:normal;}
    a{color:#88bfee;padding:5px 0 0 0;display:block;}
}
.rules-blocks {margin:0 auto 30px;
    .block {
		padding:22px 0;
		border-bottom:1px dotted #dcddde;
    img {margin: 0 0 15px 0;}
    h2{font-size:24px;margin: 0 0 15px 0;}
    p {line-height:22px;margin: 0 0 15px 0}
    .desc{float:right;width:900px;}
    .ico {float:left;width:75px;text-align:center}
    ol{padding:0 0 0 20px;}
    }
    .no-dots {border-bottom:none;}
}
.big-icos {
    .block {
    .ico {width:210px;}
    }
}
.warning {position:relative;padding:12px 30px;
    .ico-warning {float:left;margin:0 20px 0 0;width:64px;height:63px;}
    p{padding:10px 0 10px 0;line-height:20px;}
}
.mrg90 {margin-left:90px;}
.phn-blue {font-size:25px;font-weight:bold;span{color:#9ec9f0;}}