@h-nav:120px;

.nav {
	.aut; 
	.rel;
	height:@h-nav;
	z-index:3;
	background:@bg;
	}
	
.mn-cat {
	.notul;
	.l;
	> li {
		.l;
		height:@h-nav;
		> a {	
			.decno;
			padding:60px 13px 0;
			text-align:center;
			.font('CirceWebBold', 14px);
			line-height:18px;
			&:hover, &.maintainHover {
				color:@hover;
			}
		}
	}
	.mn-cat-all {
		
		a {
			padding-left:0;
			padding-right:20px;
			border-right:2px solid #eee;
		}
	}
	.mn-cat-proj a {
		border-left:2px solid #eee;
	}
	.mn-cat-deal a {
		padding-right:0;
	}
	
	@w:1108px;
	@h:505px;
	@shd:15px;
	
	.lvl2 {
		.abs;
		top:@h-nav;
		left:0;
		.wh(@w + @shd*2,@h + @shd*2);
		overflow:hidden;
		left:-@shd;
		display:none;
		.shd {			
			.wh(@w,@h);
			-moz-box-shadow: 0px 0px @shd rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0px 0px @shd rgba(0, 0, 0, 0.5);
			box-shadow: 0px 0px @shd rgba(0, 0, 0, 0.5);
			margin:0 auto;
		}
		.w {
			padding:22px 30px;
		}
		.item {
			.l;
			width:326px;
			margin-right:35px;
			.lch;
		}
		.ttl {
			.font('CirceWebBold', 20px);
			color:@highlight;
			height:68px;
			line-height:24px;
			margin:0;
		}
		.ttl2{
			.font('CirceWebBold', 16px);
			line-height:20px;
			margin:0 0 6px;
		}
		.list {
			.notul;
			font-size:13px;
			line-height:18px;
			margin:0 0 16px;
			li {
				.bl;
				border-bottom:1px solid @bl-brd;
				padding:6px 0 5px;
				&:last-child {
					border-bottom:0;
				}
			}
			a:hover {color:@hover;}
		}
	
	}
}
