.pop {
	.abs;
	display:none;
	z-index:999999;
	border-radius:@brad;
	
	>.w {
		.rel;
		padding:44px 70px;
	}
	.x {
		.ic;
		.wh(45px,45px);
		right:-20px;
		top:-20px;
	}
	.ttl-p1 {
		.font('ProximaNova-Black-webfont', 24px);
		.caps;
		text-align:center;
		margin:0 0 34px;
	}
	.ttl-p2 {
		.font('CirceWebBold', 24px);
		text-align:center;
		margin:0;
	}
	> .w > .dsc {
		.font('CirceWebBold', 16px);
		text-align:center;
		a {.und;}
	}
}
//white bg
.pop-bg-1 {	background-color:@pop-bg-1;}

//grey bg
.pop-bg-2 {background-color:@pop-bg-2;color:@dark-text;}

//green bg
.pop-bg-3 {background-color:@pop-bg-3;color:@dark-text;}

.pop-city{
	.wh(1110px,615px);

	.supttl {
		.font('ProximaNova-Bold-webfont', 12px);
		.caps;
		text-align:center;
		margin:0 0 8px;
	}

	h2.ttl {
		.font('ProximaNova-Reg-webfont', 24px);
		margin:0 0 17px 9px;
	}
	.scroll {
		height:350px;
	}
}
.city-container {
	.wh(920px,430px);
	margin:0 auto;
	.region,.cities {
		border:2px solid @bl-bg;
		border-radius:4px;
		.w {
			padding:20px 18px 15px;
		} 
	}
	.region {
		.l;
		width:351px;
		margin: 0 20px 0 0;

	}
	.cities {
		.l;
		width:540px;
	}
	.city-ul{
		.l;
		width:219px;
		margin:0 25px 0 0;
		&:nth-child(2) {margin-right:0;}
	}

}
.ul-orange {
	list-style:none;
	margin:0;
	padding:0;
	li {margin:0 0 3px 0;}
	li a {
		.bl;
		border-radius:4px;
		padding:5px 9px;
		&:hover {
			color:@hover;
			background:@accent6;
		}
	}
	li.active a{
		color:@hover;
		background:@accent6;
		cursor:default;
	}
}
.call-form {
	margin:0 auto;
	.call-btn{width:236px;margin:0 auto;}
	.call-field{
		.bl;
		background-color:@bl-bg;
		padding:10px 15px 10px 15px;
		border: 1px solid #ebebeb;
		border-top: 2px solid @bl-brd;
		border-radius: 2px;
		line-height:17px;
		.wh(320px, 17px);
		.caps;
		.font('ProximaNova-Bold-webfont', 12px);
		letter-spacing:0.9px;
		margin:0 auto 20px;
	}

}

.lnk-consult{
	.font('ProximaNova-Bold-webfont', 12px);
	.caps;
	letter-spacing:1px;
	.bl;
	.r;
	color:@btn-g;
	padding-top: 14px;
	span {border-bottom:1px dashed @btn-g;}
}

.pop-credit {
	>.w {
		padding:40px 60px;
	}
	h1.ttl {margin:0 0 5px 0;} 
	.ttl2 {
		text-align:center;
		.font('CirceWebBold', 20px);
		margin:0;
	}
	.iradio_minimal {margin:0 19px 0 0;}
	.rad {width:40px;} 
	.bank {width:178px;}
	.pic {.bl;width:156px;height:100px;margin:0 22px 0 0;cursor:pointer;}
	.dsc{
		font-size: 16px;
		width:330px;
		p {margin:0;}
		
	}
	.item {
		padding:12px 18px;
		margin:0 0 10px 0;
		&:last-child {
			margin:0;
		}
	}
	.items {
		margin: 30px auto 30px;
		width:612px;
	}
	.pop-ft{
		background:@bl-bg;
		text-align:center;
		.ibb;
		padding:16px 0;
		line-height:20px;
		p {margin:0;}
	}
	
	.btns {
		width:410px;
		margin:0 auto;
	}
	
	.credit-picked-btn {
		.font('ProximaNova-Bold-webfont', 12px);
		width:188px;
		.l;
	}
	


}

.pop-self{
	>.w {
		padding:40px 60px;
	}
	.iradio_minimal {margin:0 19px 0 0;}
	.items {
		margin: 30px auto 30px;
		width:612px;
	}

	.item {
		p {margin:0;}
		padding:12px 18px;
		margin:0 0 10px 0;
		font-size: 16px;
		&:last-child {
			margin:0;
		}
	}
	.rad {width:40px;} 
	.adr {
		width:310px;
		strong {font-size: 18px;}
	}
	.dsc {
		line-height:23px;
		strong {
			.caps;
			font-size: 12px;
		}
		.str {margin: 0 0 12px 0;}
	}
	
	.btns {
		width:410px;
		margin:0 auto;
		height:55px;
	}
	
	.self-picked-btn {
		.font('ProximaNova-Bold-webfont', 12px);
		width:188px;
		.l;
	}
}

.pop-card {width:750px;}