.port-info {
	.col-l {
		width:640px;
	}
	.cln-s,	.cln-c {
		display:inline-block;
		vertical-align:middle;

		.ttl {
			.font('ProximaNova-Bold-webfont', 24px);
			color:@highlight;
		}
		.dsc {
			.font('ProximaNova-Reg-webfont', 14px);
			.caps;
		//	color:#9c9b9b;
		}
	}
	.cln-s {
		padding-right:30px;
	}
	.cln-c {
		padding-left:30px;
		border-left:1px solid #9c9b9b;
	}
}

.port-display {
	.wh(1108px, 560px);
	overflow:hidden;
	margin:0 auto 20px;
	.items {width: 1128px }
	.item {
		.l;
		.wh(1108px, 560px);
		margin:0 20px 0 0;
		background-position:center center;
		background-repeat: no-repeat;
		.lch;
		.ibb;
	}
	.slick-prev, .slick-next {
		z-index:909;
		.wh(60px,60px);
		background-color:@dark-bg;
		&:hover{
			background-color:@hover;
		}
	}
	.slick-prev {
		left:0;
		border-top-right-radius: @brad;
		border-bottom-right-radius: @brad;
	}
	.slick-next {
		right:20px;
		border-top-left-radius: @brad;
		border-bottom-left-radius: @brad;
	}
}

.port-nav {
	.rel;
	.wh(920px, 95px);
	margin:0 auto;
	.item {
		background-position:center center;
		.l;
		.wh(168px, 85px);
		margin:0 20px 0 0;
		.lch;
		.brad;
		cursor:pointer;
		&:hover, &.slick-center {
			.wh(164px, 81px);
			border:2px solid @dark-hover;
		}
	}
	.slick-prev,.slick-next {
		.wh(12px,34px);
		top:24px;
	}

}

.portfolio-list {
	.item {
		.l;
		.wh(262px, 315px);
		margin:0 20px 20px 0;
		&:nth-child(4n) {
			.mr;
		}
		.pic {
			.wh(@unfixed, 165px);
		}
	}
}

.budget {
	.rel;
	background-color:@bl-bg;
	border-bottom: 2px solid @bl-brd;
	padding:0 0 28px;
	.brad;
	
	.ttl {
		font-size:16px;
		margin-bottom:7px;
	}
	.inp, .ik-30-lt, .checkset {
		margin-bottom:23px;
		.lch;
	}
	.checkset {
		padding:4px 0 4px;
		label {font-size:14px;}
	}
	.inp {
		width:294px;
	}
	
	.col-l {
		width:414px;
		
		.w{
			padding:24px 0 28px 30px;
		}
		.b-brd {
			border-right:2px solid #eee;
			padding-right:56px;
		}
	}
	.col-r {
		width:694px;
		.w{
			padding:24px 30px 28px 56px;
		}
		.budget-txt {
		
			.wh(577px,94px);
		}
	}
	.budget-sub-btn {
		width:106px;
		margin-right:30px;
		.r;
	}
}
