@w-li:212px;
@h-li:80px;
@w-ul: (@w-li + 50) * 4 + 20*3 + 1;

.promo {
	.aut(0, 56px);
	.rel;
	.wh(@promo, 490px);
	
	.slick-prev, .slick-next {
		top: 400px;
	}
	.slick-prev {
		left:30px;
	}
	.slick-next {
		right:30px;
	}

}

.promo .slides {
	height:370px;
	.item {
		.bl;
		.l;
		.rel;
		.wh(1260px,370px);
	}
	.inf {
		z-index:1;
		.rel;
		margin:60px auto;
		color:@dark-text;
		.wh(540px,220px);
		text-align:center;
		.ttl {
			.font('ProximaNova-Xbold-webfont', 42px); 
			margin:0 0 15px 0;
		}
		.dsc {
			font-size:18px;
			margin:0 0 30px 0;
			line-height:25px;
		}
		.btn-promo {
			margin:0 auto;
			width:158px;
		}
	}
	
	
}

.pr-nav {
	z-index:2 ;
	.rel;
	.notul;
	width:@w-ul;
	margin:-20px auto 0;
	li {
		.rel;
		background-color:@bl-bg;
		border-bottom: 2px solid @bl-brd;
		.brad;
		.font('CirceWebRegular', 20px);
		line-height:24px;
		.l;
		.wh(@w-li, @h-li);
		padding:30px 20px 30px 30px;
		margin:0 20px 0 0;
		cursor:pointer;
		&:nth-child(4n) {
			.mr;
		}
		&:hover, &.slick-active {
			background-color:@hover;
			border-bottom: 2px solid #9B251B;
			color: @dark-text;
		}
	
	}

	.i-pr-arr {
		.wh(20px, 10px);
		.abs;
		left:115px;
		top:-10px;
	}
	
}

