//common slider styles

.slick-list {
	overflow:hidden;
	.rel;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;

}
.slides {
	.rel;
	z-index: 1;
	}

.slick-prev, .slick-next  {
	.bl;
	.abs;
	.wh(25px,55px);
	border:0;
	text-indent:-99999em;
}

.slick-slider {
	.slick-prev, 
	.slick-next {
		top:42%;
	}
	
	.slick-prev {
		left:-45px;
	}

	.slick-next {
		right:-45px;
	}
}
.slick-dots {
	.notul;
	margin:33px auto 0;
	text-align:center;
	height:20px;
	
	li {
		display:inline-block;
		.wh(20px, 20px);
		margin:0 10px 0 0;
		.lch;
		padding:0;
		cursor:pointer;
		button{
			border:0;
			background:transparent;
			.wh(20px, 20px);
			text-indent:-99999em;
		}
		&.slick-active button {
			cursor:default;		
		}
	}
}
