// sprite
.img(@name: img, @x: left, @y: top, @col: transparent, @ext: png, @repeat: no-repeat){
	background: @col url('@{imd}/@{name}.@{ext}') @repeat @x @y;
}

// change pos
.pos(@x: left, @y: top) {
	background-position: @x @y;
}

//hz
.aaaaaa
{
	.img(icon-ololo-test, 10px, 20px, #fff, jpg, repeat);
}

.mn-func .city {
	.img(i-city, 17px, 15px, @highlight);
}
// fixed header icons
.fix-hd {
	.city { .img(i-city, 0, -40px); }
	.fav .lnk { .img(i-fix-hd, 0, 0); }
	.comp .lnk { .img(i-fix-hd, 0, -40px); }
	.bsk .lnk { .img(i-fix-hd, 0, -80px); }
}

.mn-func-acc{
	.img(i-acc, 20px, 15px);
}
.mn-drop{
	.img(i-lvl2, right, 20px);
}

/** menu */

//header catalogue menu
.mn-cat {
	> li {
		> a {.img(i-cat-menu);}
		&.liHover {
			.img(i-cat-arr, center, bottom);
		}
	}
	.mn-cat-all a{
		.pos(10px, 0);
	}
	.mn-cat-cond a{
		.pos(-75px, 0);
	}
	.mn-cat-hum a{
		.pos(-200px, 0); 
	}
	.mn-cat-heat a{
		.pos(-300px, 0);
	}
	.mn-cat-can a{
		.pos(-415px, 0);
	}
	.mn-cat-flo a{
		.pos(-490px, 0);
	}
	.mn-cat-wat a{
		.pos(-565px, 0);
	}
	.mn-cat-rad a{
		.pos(-690px, 0);
	}
	.mn-cat-pum a{
		.pos(-775px, 0);
	}
	.mn-cat-pur a{
		.pos(-850px, 0);
	}
	.mn-cat-proj a{
		.pos(-955px, 0);
	}
	.mn-cat-deal a{
		.pos(-1045px, 0); 
	}
	.lvl2 .shd {background: @bg url('@{imd}/i-cat-bg.png') repeat-x;}

}

/** custom form elements */

//ikselect
.ik_select_link {
	.img(i-select, right, 12px, @sel-bg);
}
.ik-green {
	.img(i-select-g, right, 12px, @sel-bg-g);
}
.ik-30-lt-link {
	.img(i-select, right, 7px, @sel-bg);
}

//basket city "select"
.city-sel  {
	.img(i-city-sel, right, 15px, @sel-bg);
}
.city-sel-srch-back a {
	.img(i-city-srch-back, 0, center,);
}

//custom checks and radios
.icheckbox_minimal, 
.iradio_minimal {
	.img(i-minimal, 0, 0);
}
.icheckbox_minimal{
	&.hover { .pos(-22px, 0); }
	&.checked { .pos(-44px, 0); }
	&.disabled { .pos(-66px, 0); }
	&.checked &.disabled { .pos(-88px, 0); }
}
.iradio_minimal{
	.pos(-110px, 0);
	&.hover { .pos(-132px, 0); }
	&.checked { .pos(-154px, 0); }
	&.disabled { .pos(-176px, 0); }
	&.checked &.disabled { .pos(-198px, 0); }
}
/** custom form elements end */

//phone icon in header
.header .callback { .img(i-callback, 0, 13px); }

//phone icon in footer
.footer .callback { .img(i-callback2, 20px, 12px, @dark-bg); }

//search icon in header
.srch-btn { .img(i-search, center, center); }

//header basket icon
.bsk-lnk { .img(i-bsk, 0, 0); }

//header basket active icon red circle with item number
.bsk-lnk span { .img(i-bsk-act, 0, 0); }

//change bg position of same image on hover
.hovpos(@img, @x, @y, @hy) {
	.img(@img, @x, @y);
	&:hover {
		.pos(@x, @hy);
	}
}

//social media in footer icons
.social-ul {
	.social-fb { .hovpos(i-social,0,0,-45px); }
	.social-tw { .hovpos(i-social,-50px,0,-45px); }
	.social-ok { .hovpos(i-social,-100px,0,-45px); }
	.social-vk { .hovpos(i-social,-150px,0,-45px); }
	.social-gp { .hovpos(i-social,-200px,0,-45px); }
}

//block with timer icon
.b-time .ico, .ico-hot {
	.img(i-hot);
}

//block with stamps icons
.b-stamps, .stamps{
	.ico-1	{ .img(st-1, 0, center); }
	.ico-2	{ .img(st-2, 0, center); }
	.ico-3	{ .img(st-3, 0, center); }
	.ico-5	{ .img(st-5, 0, center); }
}

//main page Ne Prosto Magaz
.shop {
	.item {
		.ico { .img(i-shop); }
		.ico-1 { .pos(0,0); }
		.ico-2 { .pos(-80px,0); }
		.ico-3 { .pos(-163px,0); }
		.ico-4 { .pos(-260px,0); }
	&:hover {
		.ico-1 { .pos(0,-87px); }
		.ico-2 { .pos(-80px,-87px); }
		.ico-3 { .pos(-163px,-87px); }
		.ico-4 { .pos(-260px,-87px); }
	}
	}
}

.info {
	.item-link .all span {
		.img(i-all-1, right, 0);
	}
	.item-list .all a {
		.img(i-all-2, right, 0);
	}
}

.item-list, .b-art-sq {
	.ul li a {
		.img(li, left, 8px);
		&:hover {
			.img(li-a, left, 8px);
		}
	}
}
.b-art-sq .all span {
	.img(i-all-1, right, 0);
}


//slick carpousel for main page promo
.i-promo-1 {
	.img(i-promo-1, bottom, right);
	&:hover, &.slick-active {
		.img(i-promo-1a, bottom, right);
	}
}
.i-promo-2 {
	.img(i-promo-2, bottom, right);
	&:hover, &.slick-active {
		.img(i-promo-2a, bottom, right);
	}
}
.i-promo-3 {
	.img(i-promo-3, bottom, right);
	&:hover, &.slick-active {
		.img(i-promo-3a, bottom, right);
	}
}
.i-promo-4 {
	.img(i-promo-4, bottom, right);
	&:hover, &.slick-active {
		.img(i-promo-4a, bottom, right);
	}
}
li.slick-active .i-pr-arr
{
	.img(i-promo-arr, 0, 0);
}

//blue help blocks
.b-hlp {
	.ico { .img(i-hlp); }
	.ico-1 { .pos(0,0); }
	.ico-2 { .pos(-75px,0); }
	.ico-3 { .pos(-150px,0); }
&:hover {
	.ico-1 { .pos(0,-75px); }
	.ico-2 { .pos(-75px,-75px); }
	.ico-3 { .pos(-150px,-75px); }
	}
}

// popup close
.pop .x {
	.img(i-x);
}

// basket line remove
.td-x .x {
	.img(i-td-x, 0, 0);
}


// scrollbar arrows
.mCS-grey.mCSB_scrollTools {
	.mCSB_buttonUp {.img(scroll-arr-up, 0, 0); }
	.mCSB_buttonDown {.img(scroll-arr-dn, 0, 0);}
}

// slick slider nav
.slick-prev { 
	.img(i-slick-arr, 0, 0); 
	&:hover { .pos(0,-68px); }
}
.slick-next { 
	.img(i-slick-arr, -25px, 0); 
	&:hover { .pos(-25px,-68px); }
}
.slick-dots {
	li { 
		.img(slider-nav, -30px, 0); 
		&:hover { .pos(0,0); }
		&.slick-active { .pos(-60px,0); }
		}
}

// paginator arrows
.pages-lt { 
	.img(i-paginator-arr, 0, 0);  
	&:hover { .pos(0,-46px); }
}
.pages-rt { 
	.img(i-paginator-arr, -22px, 0); 
	&:hover { .pos(-22px,-46px); }
}

//breadcrumbs
.breadcrumbs ul li {
	.img(breadcrumb, right, 8px);
}
//print icon
.print {
	.img(i-print, 0, 0);
	&:hover { .pos(0, -25px); }
}
//question mark tooltip icon
.que {
	.img(i-ques, 0, 0);
	&:hover { .pos(0, -26px); }
}
//as above but small
.que-sm {
	background-size:18px;
	&:hover { .pos(0, -20px); }
}
//green dot list icon
.ul-green li {.img(i-ul-green, 0, 12px);}

.del-instock {
	.img(i-del-tab-a, right, 14px);
}
.visa-master {
	.img(i-visa-master, 0, 0);
}
.i-visa {
	.img(i-visa, 0, 0);
}
.i-master {
	.img(i-mastercard, 0, 0);
}
//card buy btn icon
.buy-btns .btn-to-bsk span {
	.img(i-to-bsk, 0, 0);
}
//blue stamps for card
.c-pic-container .ico {
	.img(i-card-ico, 0, 0);
}

//gal icon. need to add active states
.d3 a {
	.img(i-card-3d, center, center);
	&:hover { .img(i-card-3d-a, center, center); }
}
.vid a {
	.img(i-card-vid, center, center);
	&:hover { .img(i-card-vid-a, center, center); }
}

//catalogue filters hider
.plus {.img(i-hider, 0, 0);}
.minus {.img(i-hider, 0, -51px);}

//catalogue filter switcher arrow
.active .arr {.img(i-filter-switcher, 0, 0);}

//catalogue filter result switcher
.tiles  { 
	.hovpos(i-view-switchers,20px,13px,-37px); 
	&.active {.pos(20px, -89px);}
}
.blocks { 
	.hovpos(i-view-switchers,-35px,13px,-37px); 
	&.active {.pos(-35px, -89px);}
}
//catalogue info-block list bgs
.info-block {
	.srv-list a {
		.img(i-srv-list, 0, 5px);
		&:hover {
			.img(i-srv-list-a, 0, 5px);
		}
	}
	.art-list a {	
		.img(i-art-list, 0, 4px);
		&:hover {
			.img(i-art-list-a, 0, 4px);
		}
	}
}
//info-slider + portoflio arrows
.slick-prev-sm, .port-nav .slick-prev { 
	.img(i-paginator-arr, 0, 0);  
	&:hover { .pos(0,-46px); }
}
.slick-next-sm, .port-nav .slick-next { 
	.img(i-paginator-arr, -22px, 0); 
	&:hover { .pos(-22px,-46px); }
}
//info page quote bubble arrow
.quote .arr {
	.img(i-quote-arr, 0, 0);  
}
//ul + green circle for infopage
.circle .gr b {
	.img(i-circle, 0, 0);  
}
// info-nav arrows
.inf-arr-lt { 
	span {.img(i-slick-arr, 0, 0); }
	&:hover span { .pos(0,-68px); }
}
.inf-arr-rt  { 
	span {.img(i-slick-arr, -25px, 0); }
	&:hover span { .pos(-25px,-68px); }
}
//social media in infopage source
.social-ul-2 {
	.social-fb { .hovpos(i-social-2,0,0,-40px); }
	.social-tw { .hovpos(i-social-2,-40px,0,-40px); }
	.social-ok { .hovpos(i-social-2,-80px,0,-40px); }
	.social-vk { .hovpos(i-social-2,-120px,0,-40px); }
	.social-gp { .hovpos(i-social-2,-160px,0,-40px); }
	.social-em { .hovpos(i-social-2,-200px,0,-40px); }
}

// portfolio-display arrows
.port-display {
	.slick-prev { .img(i-port-display-arr, 20px, 7px); }
	.slick-next { .img(i-port-display-arr, 18px, -53px); }
}
//empty basket ico
.basket-empty { .img(i-basket-empty, 0, 0); }

//close block in favorites
.b-x { 
	.img(i-x-bl, 0, 0);
	&:hover {
		.img(i-x-bl, -32px, 0);
	}
 }
 //close small map in basket
 .map-x { 
	.img(i-x-bl, 5px, 5px);
	&:hover {
		.img(i-x-bl, -27px, 5px);
	}
 }
 //heart for favorites
.heart { .img(i-heart, 0, 4px);}

//basket helpers icos
.bsk-callback { .img(i-bsk-help, 0, 0); }
.bsk-print { .img(i-bsk-help, 0, -60px); }

//basket tooltip icos
.tt-msg { .img(i-tt-ico, 0, 0); }
.tt-cards { .img(i-tt-cards, 0, 0); }

//lk compare link
.lnk-comp .ico { .img(i-lnk-comp, 0, bottom); }

/* rules nav*/

 .rules-nav-reg {
	.ico-reg1 { .hovpos(i-rules-nav2,0,0,-62px); }
	.ico-reg2 { .hovpos(i-rules-nav2,0,-124px,-185px); }
	.ico-reg3 { .hovpos(i-rules-nav2,0,-247px,-309px); }
	.ico-reg4 { .hovpos(i-rules-nav2,0,-370px,-431px); }
	.ico-reg5 { .hovpos(i-rules-nav2,0,-492px,-533px); }
	.act {
		.img(i-rules-nav-arr, 8px, bottom);
		.ico-reg1 { .pos(0,-62px); }
		.ico-reg2 { .pos(0,-185px); }
		.ico-reg3 { .pos(0,-309px); }
		.ico-reg4 { .pos(0,-431px); }
		.ico-reg5 { .pos(0,-533px); }	
	}
	
}



.warning {
	.img(ptrn-blue, 0, 0, #fff, gif, repeat);
}

.ico-warning {.img(warning, 0, 0);}