#ww_site {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
.fix-hd .item.empty, .basket .empty {
    height: auto;
    overflow: visible;
}
.mn-func-ul .lvl2 {
    z-index: 4;
}
#linkForUpdateBasket {
    position: absolute;
}
/* .filter .item .ttl{
    height: auto;
    min-height: 20px;
}
.tabs>.w .tab{
    display: block;
} */
.smartfilter .icheckbox_minimal, .smartfilter .iradio_minimal {
    display: inline-block;
    margin: 0 9px 0 0;
    vertical-align: top;
    padding: 0;
    width: 22px;
    height: 20px;
    border: 0;
    cursor: pointer;
    min-width: 22px;
}
.smartfilter .checkline {
    margin-bottom: 15px;
    height: auto;
}
.smartfilter .checkset label {
    line-height: 14px;
    vertical-align: top;00px;
    position: relative;
    padding-left: 30px;
    margin-left: -30px;
    z-index: 2;
    cursor: pointer;
}
.smartfilter .checkline {
    display: flex;
    width: 100%;
    align-items: center;
}

.results-line .b-line .cln-bsk {
    float: right;
    width: 202px;
    top: -70px;
    position: relative;
}
.results-line .b-line .prc {
    margin: 0 0 10px;
}
.results-line .b-line .checkset .checkline {
    margin: 0 0 10px;
    display: inline-block;
}
.results-line .b-line .checkset label, .results-line .b-line .radioset label {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
        margin-right: 5px;
}
.results-line .b-line .icheckbox_minimal, .results-line .b-line .iradio_minimal {
    display: inline-block;
    margin: 2px 3px 0 0;
    vertical-align: top;
    padding: 0;
    border: 0;
    cursor: pointer;
}
.results-block .rate.c a {
    display: inline-block;
    margin-left: 10px;
}
.results-block .rate.c .stars{
    display: inline-block;
    vertical-align: middle;
}
.results-block .rate.c a+a {
    margin-left: 15px;
}
.results-block .rate.c {
    margin-bottom: 0px;
}
.results-block .article {
    margin-bottom: 15px;
}
.results-block .btn.btn-to-bsk.special:before {
    content: "";
    opacity: 1;
    left: -100%;
    top: 41%;
    transition-property: left, top;
    transition-duration: 3s, 3s, 3s;
    transition-timing-function: ease;
    background-image: linear-gradient(180deg, rgba(248, 249, 188, 0.5), #fff5b9 50%, rgba(248, 249, 217, 0.8) 80%, rgba(253, 248, 179, 0.5));
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    moz-transform: rotate(110deg);
}
.results-block .btn.btn-to-bsk:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 140%;
    left: 50%;
    opacity: 1;
    height: 28px;
    display: block;
    cursor: pointer;
    top: 10%;
}

.btn.btn-to-bsk.special:before {
    content: "";
    opacity: 1;
    left: -100%;
    top: 41%;
    transition-property: left, top;
    transition-duration: 3s, 3s, 3s;
    transition-timing-function: ease;
    background-image: linear-gradient(180deg, rgba(248, 249, 188, 0.5), #fff5b9 50%, rgba(248, 249, 217, 0.8) 80%, rgba(253, 248, 179, 0.5));
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
}
.btn.btn-to-bsk {
    position: relative;
    overflow: hidden;
    font-size: 16px;
}
.btn.btn-to-bsk:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 140%;
    left: 50%;
    opacity: 1;
    height: 28px;
    display: block;
    cursor: pointer;
    top: 10%;
}
.results-block .block-delivery {
    display: inline-block;
    width: 50%;
}
.results-block .block-delivery span{
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
}
.results-block fieldset.checkset.blocke {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    float: right;
}
.results-block .blocke .checkline {
    float: right;
    width: 100%;
    text-align: right;
}
.results-block .checkset label, .fav .checkset label {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: normal;
    padding-bottom: 1px;
}
.results-block .icheckbox_minimal, .results-line .icheckbox_minimal{
    display: inline-block;
    margin: 0 0 0 9px;
        width: 15px;
    height: 15px;
    background-size: cover;
    vertical-align: middle;
}
.favorites.c .b-x {
    font-size: 0;
}
.fav .icheckbox_minimal{
    display: inline-block;
    margin: 0 5px 0 9px;
        width: 15px;
    height: 15px;
    background-size: cover;
}
.results-block .icheckbox_minimal.checked, .results-block .icheckbox_minimal.checked.hover,.fav .icheckbox_minimal.checked,.fav .icheckbox_minimal.checked:hover {
    background-position: -33px 0;
}
.results-block .icheckbox_minimal.hover,.fav .icheckbox_minimal.hover {
    background-position: -16px 0;
}

.results-line .icheckbox_minimal.checked, .results-line .icheckbox_minimal.checked.hover,.fav .icheckbox_minimal.checked.hover {
    background-position: -33px 0;
}
.results-line .icheckbox_minimal.hover {
    background-position: -16px 0;
}
.b-comp .article {
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
}

p.ttl.customer-n {
    color: #b7b3b3;
    font: 14px CirceWebRegular;
    text-transform: none;
}
p.text-attention {
    margin-top: 15px;
    line-height: 14px;
    font-size: 14px;
}
.tooltip_templates { display: none; }
.tooltip_templates .char-tl{
    font: 13px CirceWebRegular !important;
}
.tooltipster-content b {
    font: 13px CirceWebRegular !important;
}
.tooltipster-content {
    background: #0000ea !important;
}
.tooltipster-sidetip .tooltipster-box {
    border: 2px solid #0000ea !important;
    min-width: 352px;
    max-width: 352px;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #0000ea !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #0000ea !important;
}
.tooltipster-sidetip .tooltipster-box .char-tl {
    margin: 0 0 2px;
    font: 14px CirceWebBold;
    line-height: 16px;
}
.tooltipster-sidetip .tooltipster-box .char-in {
    margin: 0 0 10px;
}
.results-line .block-delivery span {
    display: inline-block;
    font-size: 12px;
}
.results-line .block-delivery {
    margin-top: 10px;
    display: inline-block;
}

button.slick-next.slick-disabled,
button.slick-prev.slick-disabled {
    opacity: .2;
}

.btn-to-bsk.in_basket{
    font-size: 16px;
    letter-spacing: -1px;
}
.results-block .btn-to-bsk.in_basket{
    font-size: 14px;
    letter-spacing: -1px;
}
.checkline-registry label {
    width: 90%;
}
.checkline.checkline-registry {
    height: auto;
    margin-bottom: 10px !important;
}
.bx-captcha {
    margin-top: 10px;
}
.filter input.btn.btn-30.btn-g.btn-f-clear {
    width: 100%;
}
.print_only {
    display: none;
}
.print_only img {
    width: 100%;
}
.print_only div {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.print_only div img {
    width: 60px;
    height: 100%;
    vertical-align: middle;
        margin: 0 10px 0 0;
}
@media print  {
    .footer-w, .roll, .mn-func-w, nav, .breadcrumbs, .items.hlp, .fix-hd-w, .tab-desc iframe, .callback.callback-pop, .hd-srch, .bx-basket.bx-opener, .actions.c, .install, .buy-btns, .c-gal.c, .c-pic-container.maximize, .cphn.item {
        display: none !important;
    }
    .print_only {
        display: block;
    }
}
.pdf-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.inst-item .dsc.c a{
    text-decoration: underline;
}
.inst-item .dsc.c a:hover{
    text-decoration: none;
}
.debug_pre {
    display: none;
}
.admin_user .debug_pre {
    display: block;
}
.bx-authform .btn.btn-primary, .popup-window .btn.btn-primary {
    padding: 0 20px;
}
.popup-window .btn.btn-primary {
    margin-top: 10px;
}
.hide_it {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.hide_it2 {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    top: -9999px;
}
body .bx-authform {
    margin: 65px 0 25px;
}

.form-revw-add{
    clear: both;
    margin: 15px 0;
    display: none;
}
.form-revw-add .ttl {
    display: block;
    font: 16px "CirceWebRegular";
    margin: 0 0 6px;
}
.form-revw-add .inp-lk, .form-revw-add .txtarea-lk{
    margin: 0 0 5px;
}
.form-revw-add .result, .form-revw-add .dsc, .form-revw-add .stars{
    clear: both;
    float: none !important;
}
.form-revw-add .result{
    display: none;
}
.form-revw-add .result.success{
    display: block;
    color: green;
    font-size:15px;
}
.form-revw-add .result.error{
    display: block;
    color: red;
    font-size:15px;
}
.form-revw-add textarea{
    max-width:640px;
    min-height:120px;
}
.form-revw-add .btn-revw-send{
    margin-top: 5px;
}

.clear{
    clear: both;
}
.mn-cat .lvl2 .ttl {
    font: 20px CirceWebBold;
    color: #3498db;
    height: 0;
    line-height: 24px;
    margin: 0;
}
.mn-cat .lvl2 .list {
    display: block;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 16px;
    border-bottom: 1px solid #e5e5e5;
}
.mn-cat .lvl2 .list li {
    display: block;
    border-bottom: none;
    padding: 6px 0 5px;
}
.mn-cat .lvl2 .shd {
    width: 1108px;
    height: 100%;
    margin: 0 auto;
}
.mn-cat .lvl2 .ttl2 {
    color: #3498db;
}
.mn-cat .lvl2 {
    height: 613px;
    padding-bottom: 10px;
}
.mn-cat .lvl2 .w.b {
    padding: 15px 0px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.submenu-first a {
    border: 1px dotted #8a8e99;
    border-radius: 100px;
    display: inline-block;
    padding: 0px 7px;
    margin-right: 7px;
}
.submenu-first {
    margin: 0 30px;
}
.submenu-first a:hover{
    background: #ef2b15;
    color: #fff;
}
.submenu-second {
    background: #f5f5f5;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 30px;
}
.submenu-second a {
    font-family: inherit;
    font-size: 14px;
    color: #2d97de;
    letter-spacing: 0.44px;
    text-transform: uppercase;
}
.submenu-second a:hover {
    text-decoration: underline;
}
.submenu-second span {
    background: #2d97de;
    display: block;
    width: 2px;
    height: 18px;
}
